
#biometria-corpo {
	background-image: url('/assets/images/spe/fundo.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;


 .logo {
	display: flex;
	align-items: center;
}

.slogan {
	background-color: #55C4F2;
	text-align: center;
}

.slogan h1 {
	color: #FFF;
	line-height: 54px;
	font-size: 1.6em;
	text-transform: uppercase;

	@media (max-width: 470px) {
		line-height: 30px;
	}

}


.estados_mobile {
	display: none;
}

#uf .modal a:link,
#uf .modal a:visited {
	color: #202068;
	font-weight: bold;
	text-decoration: none;
}

#uf .modal a:hover {
	text-decoration: underline;
}


	.estados_deskop {
		@media (max-width: 470px) {
		display: none;
		visibility: none;
		}
	}
	.estados_mobile {
		@media (max-width: 470px) {
		display: block;
		visibility: block;
		}
	}


/* CSS mapa */

.biometria #map {
	display: none;
}

.biometria #map .state {
	cursor: pointer;
}

.biometria #map .state .shape {
	cursor: pointer;
	-width: 0;
}

.biometria #map .state .label_icon_state {
	fill: #fff;
	font-family: Arial;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
}

.biometria #map .state .label_state {
	display: none;
	font-family: Arial;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}

.biometria #map .state:hover .label_state,
.biometria #map .state.hover .label_state {
	display: block;
}

.biometria #map .model-green .state .shape.cem_por_cento {
	fill: #33CC66;
}

.biometria #map .model-green .state .shape.em_processo {
	fill: #333366;
}

.biometria #map .model-green .state .shape.obrigatorio {
	fill: #FFCC66;
}

.biometria #map .model-green .state .icon_state.cem_por_cento {
	fill: #25aa51;
}

.biometria #map .model-green .state .icon_state.em_processo {
	fill: #202068;
}

.biometria #map .model-green .state .icon_state.obrigatorio {
	fill: #fcc14b;
}

.biometria #map .model-green .state .label_icon_state {
	fill: #fff;
}

.biometria #map .model-green .state:hover .shape,
.biometria #map .model-green .state.hover .shape {
	opacity: 0.6;
}

.biometria #map .model-green .state:hover .icon_state,
.biometria #map .model-green .state.hover .icon_state {
	opacity: 0.7;
}

.biometria .biometria_mapa_legenda {
	float: right;
	margin-top: -100px;

	@media (max-width: 960px) {

		float: none;
		margin-top: 0px;

}
}

.biometria .biometria_mapa_legenda div {
	border: 1px silver solid;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}

.biometria .biometria_mapa_legenda .cem_por_cento {
	background-color: #33CC66 !important;
}

.biometria .biometria_mapa_legenda .em_processo {
	background-color: #333366;
}

.biometria .biometria_mapa_legenda .obrigatorio {
	background-color: #FFCC66;
}

.biometria .biometria_numeros .btn-biometria {
	width: 100%;
	background-color: #E5E5E5;
	border-radius: 50px;
	color: #858585;
	font-size: 1.2em;
	line-height: 50px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.biometria .biometria_texto_link {
	text-align: center;
}

.biometria .biometria_texto_link a:link,
.biometria .biometria_texto_link a:visited {
	color: #663399;
	text-transform: uppercase;
	margin: 0px auto;
	font-weight: bold;
}



.biometria .biometria_numeros .btn-biometria:hover {
	background-color: #6666CC;
	color: #FFF;
}


.biometria .carousel-indicators {
	position: relative;
}

.biometria .carousel-indicators li {
	background-color: #663399;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}



@media (max-width: 768px) {
	.faixa-aviso a:link,
	.faixa-aviso a:visited {
		line-height: 1rem;
	}
	.logo img {
		margin: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 61%;
	}
	.menu {
		padding-left: 2%;
		padding-right: 2%;
	}

}

}

