<section class="article <% if(full){%>article-full<%}%>" id="article">
  <div class="article-body">
    <%- include('includes/breadcrumbs', { title: '5 dicas para comprar online com segurança' }) -%>
    <article>
      <h2>5 dicas para comprar online com segurança</h2>
      <p>Você está navegando pela internet quando encontra um anúncio do produto dos seus sonhos e, o melhor: por um preço incrível! Antes de correr para encher o seu carrinho, você tem certeza de que está em um e-commerce confiável? Algumas dicas para comprar online com segurança são capazes de determinar se você está fazendo uma boa escolha!</p>
      <p>A verdade é que, à medida que a modalidade de comércio online cresce, os crimes virtuais também aumentaram. Como estamos cada vez mais adaptados aos e-commerces, podemos acabar por deixar passar detalhes importantes, que nos colocam em fraudes e golpes.</p>
      <p>Assim, para evitar complicações e ter somente ótimas experiências nos seus pedidos, não deixe de checar as 5 dicas para comprar online com segurança. Certamente, há alguma orientação nesta lista que você ainda não está seguindo e pode ser útil para suas próximas compras.</p>
      <strong>Confira os indícios de confiabilidade de um e-commerce</strong>
      <p>Você está navegando pela internet quando encontra um anúncio do produto dos seus sonhos e, o melhor: por um preço incrível! Antes de correr para encher o seu carrinho, você tem certeza de que está em um e-commerce confiável? Algumas dicas para comprar online com segurança são capazes de determinar se você está fazendo uma boa escolha!</p>
      <p>A verdade é que, à medida que a modalidade de comércio online cresce, os crimes virtuais também aumentaram. Como estamos cada vez mais adaptados aos e-commerces, podemos acabar por deixar passar detalhes importantes, que nos colocam em fraudes e golpes.</p>
      <p>Assim, para evitar complicações e ter somente ótimas experiências nos seus pedidos, não deixe de checar as 5 dicas para comprar online com segurança. Certamente, há alguma orientação nesta lista que você ainda não está seguindo e pode ser útil para suas próximas compras.</p>
      <img  src="http://placeimg.com/740/430/tech" alt="example image">

    </article>
  </div>
</section>
