<%
const carousels = ['animals', 'arch', 'nature', 'people', 'tech', 'any'];
%>
<div class="owlCarousel <% if(inside) {%>carousel-inside<%} -%>" id="owlCarousel">
 <% carousels.forEach(carousel=>{%>
  <div class="carousel">
    <img src="http://placeimg.com/400/200/<%=carousel%>" alt="" class="carousel-img-top">
    <div class="carousel-body">
      <div class="carousel-text">
        PayPal passa a aceitar transações com bitcoin e ether
      </div>
      <div class="carousel-date">30 de outubro de 2020</div>
    </div>
  </div>
  <%})%>
</div>

