<%
const carousels = ['animals', 'arch', 'nature', 'people', 'tech', 'any'];
%>
<div class="owlCarouselFooter">
  <% carousels.forEach(carousel=>{%>
  <div class="carousel-footer">
    <img src="http://placeimg.com/398/398/<%= carousel %> " alt="" class="carousel-footer-img">
  </div>
  <%})%>
</div>

