<%
const carousels = ['animals', 'arch', 'nature', 'people', 'tech', 'any'];
%>
<div class="owlCarouselFooter">
  <% carousels.forEach((carousel, index) => { %>
  <div class="carousel-footer">
    <a href="#-item-<%= index %>"><img src="http://placeimg.com/398/398/<%= carousel %>" alt="<%= carousel %>" class="carousel-footer-img"></a>
  </div>
  <%})%>
</div>

