<%
const categorias = ['Backend', 'Criptografia', 'Segurança da urna', 'Segurança da informação','Tecnologia da Informação', 'Voto informatizado', 'Justiça Eleitoral'];
%>
<section class="sidebar">
  <h1 class="sidebar-title">CATEGORIAS</h1>
  <ul class="nav flex-column">
    <% categorias.forEach((category, index)=>{ %>
    <li class="nav-item <% if(index === 2){%>active<%}%>">
      <a class="nav-link" href="#"><%=category%></a>
    </li>
    <% }); %>
  </ul>
</section>
