<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link <% if(active==='filtro'){%>active<%}%>" href="politica-e-normas.html">Filtros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if(active==='lista'){%>active<%}%>" href="politica-e-normas-lista.html">Lista</a>
  </li>
</ul>
