  <footer class="container-fluid main-footer">
    <div class="container">
      <div class="row">
        <div class="footer-content">
          <%- include('menu', { location : 'Footer', expand: 'navbar-expand-md', open: true}); -%>
          <div class="logo">
            <div class="logo-footer">
              <img src="assets/images/logo-je.svg" alt="Logo Justiça Eleitoral">
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <% config.scripts.forEach(function(script){ %>
    <script src="assets/js/<%= script %>"></script>
  <% }); %>
  </body>
</html>
