<%
const galleries = ['animals', 'arch', 'nature', 'people', 'tech', 'any'];
%>
<section class="article" id="article">
  <div class="article-body">
    <%- include('includes/breadcrumbs', { title: 'Galerias' }); -%>
    <article>
      <h1>5 dicas para comprar online com segurança</h1>
      <p>Você está navegando pela internet quando encontra um anúncio do produto dos seus sonhos e, o melhor: por um preço incrível! Antes de correr para encher o seu carrinho, você tem certeza de que está em um e-commerce confiável? Algumas dicas para comprar online com segurança são capazes de determinar se você está fazendo uma boa escolha!</p>
      <strong>Confira os indícios de confiabilidade de um e-commerce</strong>
      <div id="galery">
       <form class="form-galery">
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <small class="muted-text">
              Filtro
            </small>
          </div>
          <div class="col-auto my-1">
            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Todas</option>
              <option value="1">Urna</option>
              <option value="2">Criptografia</option>
              <option value="3">Segurança</option>
            </select>
          </div>
          <div class="col-auto my-1">
            <button type="button" class="btn btn-link btn-filter">Adicionar filtro <i class="fa fa-plus" aria-hidden="true"></i></button>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Filtrar</button>
          </div>
        </div>
      </form>
      <div class="card-columns">
        <% galleries.forEach(galery=>{%>
        <div class="card">
          <img src="http://placeimg.com/237/199/<%=galery%>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PayPal passa a aceitar transações com bitcoin e ether</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum</p>
          </div>
        </div>
        <% }) %>
      </div>
      </div>
    </article>
  </div>
</section>
