<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=config.title;%></title>
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <% config.fonts.forEach(function(font){ %>
      <link href="assets/css/<%=font;%>" rel="stylesheet">
    <% }); %>
    <% config.styles.forEach(function(style){ %>
      <link href="assets/css/<%=style;%>" rel="stylesheet">
    <% }); %>
  </head>
<body>
  <header class="container-fluid main-header">
    <div class="container">
      <div class="menu-form-row">
        <form class="menu-form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar..." aria-label="Botão de busca" aria-describedby="button-search">
            <div class="has-group">
              <button class="btn btn-preto btn-form" type="button"><i class="fa fa-search" id="button-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="main-content-row">
        <div class="main-content">
          <div class="logo">
            <img class="img-fluid" src="assets/images/logo-je.svg" alt="Logo Justiça Eleitoral">
          </div>
          <div class="main-menu">
            <a href="index.html">
              <img class="logo-header img-fluid" src="assets/images/logo-seguranca-da-informacao.png" alt="Logo Segurança da Informação">
            </a>
          </div>
        </div>
      </div>
      <div class="menu-row">
          <%- include('menu', { location : 'Header', expand: 'navbar-expand-md', open: false}); -%>
      </div>
    </div>
  </header>

