<section class="sidebar">
  <h1 class="sidebar-title">DESTAQUES</h1>
  <div class="highlights">
    <div class="carousel">
      <img src="http://placeimg.com/400/200/any" alt="" class="carousel-img-top">
      <div class="carousel-body">
        <div class="carousel-text">
          <a href="#destaque-0">PayPal passa a aceitar transações com bitcoin e ether</a>
        </div>
        <div class="carousel-date">30 de outubro de 2020</div>
      </div>
    </div>
    <div class="carousel">
      <img src="http://placeimg.com/400/200/people" alt="" class="carousel-img-top">
      <div class="carousel-body">
        <div class="carousel-text">
          <a href="#destaque-1">PayPal passa a aceitar transações com bitcoin e ether</a>
        </div>
        <div class="carousel-date">30 de outubro de 2020</div>
      </div>
    </div>
  </div>
</section>
