<section class="article" id="article">
  <div class="article-body">
    <%- include('includes/breadcrumbs', { title: '5Políticas e normas' }) -%>
    <article>
      <h2>Políticas e normas</h2>
      <p>Você está navegando pela internet quando encontra um anúncio do produto dos seus sonhos e, o melhor: por um preço incrível! Antes de correr para encher o seu carrinho, você tem certeza de que está em um e-commerce confiável? Algumas dicas para comprar online com segurança são capazes de determinar se você está fazendo uma boa escolha!</p>
      <p>A verdade é que, à medida que a modalidade de comércio online cresce, os crimes virtuais também aumentaram. Como estamos cada vez mais adaptados aos e-commerces, podemos acabar por deixar passar detalhes importantes, que nos colocam em fraudes e golpes.</p>
      <div class="filters">
        <%- include('filtros', { active: 'filtro'}) -%>
        <form class="form-filters needs-validation">
          <div class="form-row">
           <div class="col-md-3 mb-3">
              <label for="oragao">Órgão:</label>
              <select class="custom-select" id="oragao">
                <option selected disabled value="">Selecione</option>
                <option>DF</option>
                <option>GO</option>
              </select>
            </div>
            <div class="col-md-3 mb-3">
              <label for="tema">Tema:</label>
              <select class="custom-select" id="tema">
                <option selected disabled value="">Selecione</option>
                <option>Tema 1</option>
                <option>Tema 2</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label for="pesquisar">Pesquisar:</label>
              <input type="text" class="form-control" id="pesquisar">
            </div>
          </div>
        </form>
        <div class="normas">
         <div class="norma">
            <h5>
            <a data-toggle="collapse" href="#collapseFilter-0" role="button" aria-expanded="false" aria-controls="collapseFilter-0">
              Título norma <i class="fas fa-caret-up"></i>
            </a>
          </h5>
          <div class="collapse" id="collapseFilter-0">
            <div class="card card-body">
              Você está navegando pela internet quando encontra um anúncio do produto dos seus sonhos e, o melhor: por um preço incrível! Antes de correr para encher o seu carrinho, você tem certeza de que está em um e-commerce confiável? Algumas dicas para comprar online com segurança são capazes de determinar se você está fazendo uma boa escolha!
              <strong>Processo SEI: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
              <div class="procedimentos">
                <div class="procedimento">
                    <h6>
                    <a data-toggle="collapse" href="#collapseProcedimento-0" role="button" aria-expanded="false" aria-controls="collapseProcedimento-0">
                      Procedimentos <i class="fas fa-caret-up"></i>
                    </a>
                  </h6>
                  <div class="collapse" id="collapseProcedimento-0">
                    <div class="card card-body">
                      Você está navegando pela internet quando encontra um anúncio do produto dos seus sonhos e, o melhor: por um preço incrível! Antes de correr para encher o seu carrinho, você tem certeza de que está em um e-commerce confiável? Algumas dicas para comprar online com segurança são capazes de determinar se você está fazendo uma boa escolha!
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
          <div class="norma">
            <h5>
            <a data-toggle="collapse" href="#collapseFilter-1" role="button" aria-expanded="false" aria-controls="collapseFilter-1">
              Título norma <i class="fas fa-caret-up"></i>
            </a>
          </h5>
          <div class="collapse" id="collapseFilter-1">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
