<%
const recents = ['animals', 'arch', 'nature', 'people', 'tech', 'any'];
%>
<section class="recent" id="recent">
  <h1 class="recent-title">RECENTES</h1>
  <div class="recent-body">
    <% recents.forEach((recent, index) => { %>
    <div class="recent-item">
      <a href="#recent-<%=index%>">
        <img class="recent-img" src="http://placeimg.com/400/200/<%= recent %>" alt="<%= recent %>">
        <p class="recent-text">PayPal passa a aceitar transações com bitcoin e ether</p>
      </a>
      <div class="recent-date">
        <span>22 Out</span>
        <span>10 min read</span>
      </div>
    </div>
    <% }); %>
  </div>
  <button class="btn btn-outline-primary btn-block recent-button">mais artigos...</button>
</section>
