<%
const recents = ['animals', 'arch', 'nature', 'people', 'tech', 'any'];
%>
<section class="recent" id="recent">
  <h1 class="recent-title">RECENTES</h1>
  <div class="recent-body">
    <% recents.forEach(recent => { %>
      <div class="recent-item">
      <img class="recent-img" src="http://placeimg.com/260/260/<%= recent %> " alt="">
      <p class="recent-text">PayPal passa a aceitar transações com bitcoin e ether</p>
      <div class="recent-date">
        <span>22 Out</span>
        <span>10 min read</span>
      </div>
    </div>
    <% }); %>
  </div>
  <button class="btn btn-outline-primary btn-block recent-button">mais artigos...</button>
</section>
