<section class="article" id="article">
  <div class="article-body">
    <div class="example">
    <strong class="example-title">Breadcrumb</strong>
      <%- include('includes/breadcrumbs', { title: 'Guia de estilos' }); -%>
    </div>
    <div class="example">
      <strong class="example-title">Título de página H2</strong>
      <h2 class="article-title">5 dicas para comprar online com segurança</h2>
    </div>
    <div class="example">
      <strong class="example-title">Subtítulo de página H3</strong>
      <h3 class="artitle-subtitle">Confira os indícios de confiabilidade de um e-commerce</h3>
    </div>
    <div class="example">
      <strong class="example-title">Subtítulo/Tópico de página H4</strong>
      <h4 class="article-topic">Não clique em links suspeitos</h4>
    </div>
    <div class="example">
      <strong class="example-title">Lista</strong>
      <div class="row">
        <div class="col-6">
        <ul>
          <li>Não clique em links suspeitos</li>
          <li>Não clique em links suspeitos</li>
          <li>Não clique em links suspeitos</li>
          <li>Não clique em links suspeitos</li>
        </ul>
      </div>
      <div class="col-6">
        <ol>
          <li>Não clique em links suspeitos</li>
          <li>Não clique em links suspeitos</li>
          <li>Não clique em links suspeitos</li>
          <li>Não clique em links suspeitos</li>
        </ol>
      </div>
      </div>
    </div>
    <div class="example">
      <strong class="example-title">Tabela</strong>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="example">
      <strong class="example-title">Texto</strong>
      <p>Você está <strong>navegando</strong> pela internet quando encontra um anúncio do produto dos seus sonhos e, o melhor: por um <a href="#">preço incrível!</a> Antes de correr para encher o seu carrinho, você tem certeza de que está em um e-commerce confiável? Algumas dicas para comprar online com segurança são capazes de determinar se você está fazendo uma boa escolha!</p>
      <p>A verdade é que, à medida que a modalidade de comércio online cresce, os crimes virtuais também aumentaram. Como estamos cada vez mais adaptados aos e-commerces, podemos acabar por deixar passar detalhes importantes, que nos colocam em fraudes e golpes.</p>
    </div>
    <div class="example">
      <strong class="example-title">Paginação</strong>
      <%- include('includes/pagination.ejs', {size: ''}) %>
    </div>
    <div class="example">
      <strong class="example-title">Formulário</strong>
      <form class="needs-validation" novalidate>
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text"
            class="form-control" name="name" id="name" aria-describedby="helpName" placeholder="Digite seu nome">
            <small id="helpName" class="form-text text-muted">Escreva seu nome completo</small>
        </div>
        <br />
       <select class="custom-select custom-select-lg mb-3">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <br />
        <div class="row">
          <div class="col-6">
            <label for="">Rádio</label>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio0" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="customRadio0">Toggle this custom radio</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" disabled aria-disabled="true">
              <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" aria-checked="true" checked>
              <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
            </div>
          </div>
          <div class="col-6">
            <label for="">Checkbox</label>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck2" disabled aria-disabled="true">
              <label class="custom-control-label" for="customCheck2">Check this custom checkbox</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck3" checked aria-checked="true">
              <label class="custom-control-label" for="customCheck3">Check this custom checkbox</label>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label for="">ANEXO</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile" lang="pt-br">
              <label class="custom-file-label" for="customFile" data-browse="ANEXAR..."></label>
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="validationCustom03">Validação</label>
          <input type="text" class="form-control" id="validationCustom03" required>
          <div class="invalid-feedback">
            Por favor, insira uma cidade válida.
          </div>
        </div>
        <br/>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Mensagem/text area</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">ENVIAR</button>
        <button type="reset" class="btn btn-outline-primary">CANCELAR</button>
      </form>
    </div>
  </div>
</section>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
