

.consumo-dados {
	margin-top: 15px;
	margin-bottom: 15px;
	.btn-consumo-dados {
		text-transform: uppercase;
		text-decoration: underline;
		font-weight: bold;
		padding: 0;
		color: #6B6B6B;
		&:hover {
			color: #333;
			text-decoration: none;
		}
	}
	.gif-wifi {
		margin-right: 10px;
	}
	.modal {
		color: #6B6B6B;
		.modal-dialog {
			.modal-content {
				border-radius: 3px;
				.modal-header {
					.close {
						display: block !important;
					}
				}
			}
		}
	}
}

