

html,
body {
	scroll-behavior: smooth;
	width: 100%;
}

#destinacao-de-votos {
	a {
		color: #3D3A71;
		font-weight: bold;
	}
	p {
		padding-bottom: 30px;
		position: relative;
		font-size: 1.2em;
		width: 100%;
		float: left;
		@media (max-width: 768px) {
			float: none;
			padding-bottom: 15px;
		}
	}
	.ddv-cabecalho {
		margin-top: 40px;
		margin-bottom: 40px;
		background-color: #3D3A71;
		@media (max-width: 768px) {
			margin-top: 0px
		}
		h1 {
			color: #FFF;
			padding-top: 50px;
			text-transform: uppercase;
			font-size: 3em;
			font-weight: bold;
			@media (max-width: 768px) {
				font-size: 2em;
				text-align: center;
			}
		}
		img {
			padding-top: 12px;
		}
	}
	.ddv-texto {
		margin-bottom: 70px;
		h3 {
			color: #3D3A71;
		}
		ul {
			position: relative;
			height: 20%;
			padding: 0px;
			width: 100%;
			@media (max-width: 768px) {
				height: auto;
			}
			li {
				width: 29%;
				float: left;
				// border: 1px #3D3A71 solid;
				list-style: none;
				margin: 2%;
				padding: 3%;
				height: 240px;
				margin-bottom: 40px;
				box-shadow: 2px 1px #666;
				@media (max-width: 768px) {
					width: 100%;
					float: none;
					box-shadow: 0px 1px #666;
				}
				i {
					width: 100%;
					font-size: 3em;
					text-align: center;
					padding-bottom: 20px;
					color: #3D3A71;
				}
				strong {
					color: #3D3A71;
					width: 100%;
					height: 50px;
					font-size: 1.3em;
					text-transform: uppercase;
				}
			}
		}
	}
}

