html,
body {
	scroll-behavior: smooth;
}

#nova-home {
	font-family: 'Open Sans', sans-serif;
	h1,
	h5 {
		font-weight: bold;
	}
	@media (max-width: 768px) {
		padding-left: 20px;
		padding-right: 20px;
	}
	background-color: #ECECEC;
	padding-top: 20px;
	.destaques {
		a {
			text-shadow: 1px 1px #000;
			&:link,
			&:visited {
				color: #FFF;
			}
			&:hover {
				text-shadow: 2px 2px #000;
				text-decoration: none;
			}
		}
	}
	.container {
		color: #FFF;
		.destaque-2-coluna {
			padding-right: 0px;
		}
	}
	.destaque {
		overflow: hidden;
		position: relative;
		background-color: #333;
		.imagem-destaque {
			position: absolute;
			transition: .5s all;
			z-index: 1;
			top: 0;
		}
		.link-destaque {
			display: block;
			height: 100%;
			width: 100%;
			.texto {
				position: absolute;
				z-index: 2;
				bottom: 0;
				width: 100%;
			}
			.titulo,
			.sutia {
				background-color: rgba(0, 0, 0, 0.2);
				padding: 1rem;
				margin: 0;
				width: 100%;
			}
			.sutia {
				padding-top: 0;
			}
		}
	}
	.destaque-1 {
		height: 500px;
		padding-left: 0px;
		margin-bottom: 20px;
		.imagem-destaque {
			height: 510px;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
		}
		.link-destaque {
			&:hover {
				.imagem-destaque {
					height: 110% !important;
					transition: .5s all;
				}
			}
		}
	}
	.destaque-2,
	.destaque-3 {
		height: 240px;
		margin-bottom: 20px;
		.imagem-destaque {
			width: 560px;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
		}
		.link-destaque {
			&:hover {
				.imagem-destaque {
					width: 110% !important;
					transition: .5s all;
				}
			}
		}
	}
	.card-bg {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		margin-right: 20px;
		margin-bottom: 20px;
		padding-bottom: 20px;
		max-width: 365px;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 100px;
		&.ultimo {
			margin-right: 0px;
		}
		&.card-bg-100 {
			width: 100% !important;
			background-size: auto 140%;
			padding-top: 0px;
			padding-left: 20%;
			max-width: none;
			.quadro-branco {
				box-shadow: 1px 1px #999;
			}
		}
		&.card-aje {
			background-image: url('#{$path-img}/bg-card-aje.png');
		}
		&.card-mulheres {
			background-image: url('#{$path-img}/bg-card-mulheres.png');
		}
		&.card-jovemeleitor {
			background-image: url('#{$path-img}/bg-card-jovemeleitor.png');
		}
		&.card-eleicoes {
			background-image: url('#{$path-img}/bg-card-eleicoes.png');
		}
		&.card-desinformacao {
			background-image: url('#{$path-img}/bg-card-desinformacao.png');
		}
		&.card-fatoouboato {
			background-image: url('#{$path-img}/bg-card-fatoouboato.png');
		}
		&.card-te {
			background-image: url('#{$path-img}/bg-card-te.png');
		}
		&.card-tps {
			background-image: url('#{$path-img}/bg-card-tps.png');
		}
		&.card-biometria {
			background-image: url('#{$path-img}/bg-card-biometria.png');
		}
		&.card-spe {
			background-image: url('#{$path-img}/bg-card-spe.png');
		}
		&.card-eleicoes {
			background-image: url('#{$path-img}/bg-card-divulga.png');
		}
		&.card-parcerias-digitais {
			background-image: url('#{$path-img}/bg-card-parceiros.png');
		}
		&.card-doadores {
			background-image: url('#{$path-img}/bg-card-doadores.png');
		}
		&.card-dialogos {
			background-image: url('#{$path-img}/bg-card-dialogos.png');
		}
		img {
			margin-left: 40%;
			top: 50%
		}
		.quadro-branco {
			background-color: #FFF;
			width: 100%;
			height: 202px;
			padding: 4%;
			padding-top: 60px;
			margin-top: -40px;
			border-radius: 15px;
			h4 {
				color: #1B305A;
				font-weight: bold;
			}
			p {
				color: #6B6B6B;
			}
		}
	}
	.btn-outline-primary {
		width: 30%;
		text-align: center;
		color: #1B305A;
		border-color: #1B305A;
		margin-top: 40px;
		margin-bottom: 40px;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		&:hover {
			color: #FFF;
			background-color: #1B305A;
		}
	}
	.je-estados {
		padding-top: 70px;
		.titulo-je {
			text-align: center;
			color: #1B305A;
			h2 {
				text-align: center;
				font-weight: bold;
			}
			p {
				width: 50%;
				text-align: center;
				margin: 0px auto;
				padding-top: 20px;
				padding-bottom: 70px;
				font-size: 1.3em;
			}
		}
		.mapa {
			background-position: left center;
			background-repeat: repeat-y;
			float: left;
			height: auto;
			width: 50%;
			margin-bottom: 100px;
			@media (max-width: 768px) {
				background-size: auto 80%;
				width: 100%;
				margin-left: 0px;
			}
			a:link,
			a:visited,
			a:hover {
				color: #1B305A;
			}
			h2 {
				margin-top: -40px;
				margin-left: 22%;
				font-weight: bold;
			}
			ul,
			li {
				list-style: none;
			}
			ul {
				margin-left: 50%;
			}
			li {
				padding-top: 14px;
				font-size: 1.3em;
				font-weight: bold;
			}
			background-color: #FFF;
			&.norte {
				background-image: url('#{$path-img}/mapa-norte.png');
				h2 {
					color: #1B305A;
				}
			}
			&.nordeste {
				background-image: url('#{$path-img}/mapa-nordeste.png');
				h2 {
					color: #A8463B
				}
			}
			&.sudeste {
				background-image: url('#{$path-img}/mapa-sudeste.png');
				h2 {
					color: #FF7541
				}
			}
			&.centrooeste {
				background-image: url('#{$path-img}/mapa-centrooeste.png');
				h2 {
					color: #47C77D
				}
			}
			&.sul {
				margin-left: 25%;
				padding-bottom: 50px;
				@media (max-width: 768px) {
					margin-left: 0px;
				}
				background-image: url('#{$path-img}/mapa-sul.png');
				h2 {
					color: #8F89DB
				}
				ul {
					margin-top: 30px !important;
				}
			}
		}
	}
	.nossas-redes {
		padding-bottom: 80px;
		color: #1B305A;
		h2 {
			font-weight: bold;
			margin-top: 40px;
			margin-bottom: 10px;
		}
		p {
			width: 50%;
			text-align: center;
			margin: 0px auto;
			padding-top: 0px;
			padding-bottom: 70px;
			font-size: 1.3em;
		}
		img {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
	.ver {
		padding-bottom: 20px;
		cursor: pointer;
	}
	.close {
		display: none;
	}
	#je-qrcode {
		margin-top: 75px;
		margin-bottom: 75px;
		margin-left: 10%;
		margin-right: 10%;
		background : url(#{$path-img}/bg-ponta-1.png) no-repeat top left,
		url(#{$path-img}/bg-ponta-2.png) no-repeat top right,
		url(#{$path-img}/bg-ponta-3.png) no-repeat bottom right,
		url(#{$path-img}/bg-ponta-4.png) no-repeat bottom left;
		padding: 3%;
		.row {
			background-color: #00e676;
			padding: 0;
			padding-bottom: 0;
			padding-top: 3%;
			margin-right: 0;
			margin-left: 0;
			border-radius: 15px;
			box-shadow: 1px 2px 2px #6b6b6b;
		}
		figure {
			float: right;
			text-align: center;
			img {
				border-radius: 15px;
				box-shadow: 1px 2px 2px #6b6b6b;
				width: 70%;
				margin: 0 auto;
			}
			figcaption {
				text-align: center;
				color: #1b305a;
			}
		}
		.titulo-je {
			padding-top: 5%;
			padding-left: 7%;
			h2 {
				color: #1b305a;
				font-weight: 700;
			}
			p {
				color: #1b305a;
				font-size: 1.3em;
			}
		}
	}
}
