#titulo-eleitoral {
	.geral_titulo {
		background-color: #fff;
	}

	.geral-pesquisa_titulo h2 {
		color: #25568e;
		font-size: 2.2em;
		font-weight: bold;
	}

	.geral-pesquisa .geral-pesquisa_form img.img_je {
		margin: -135px 0 0 -110px;
	}

	#videos-titulo h3,
	#linhaTempo h3,
	#servicos h3 {
		font-family: "Merriweather", sans-serif;
		font-size: 3em;
		line-height: 55px;
		text-align: left;
	}

	.row {
		margin: 20px 0 20px 0;
	}

	.bg-e-titulo {
		background: url(../img/titulo/bg-e-titulo.png) no-repeat;
		width: 100%;
		height: 100%;
		background-position: left;

	}

	.titulo_title {
		margin: 120px 0 70px 0;
	}

	#videos-titulo {
		.titulo_title {
			color: #25568e;
		}

		.card {
			color: #fff;
			background-color: #7dacaa;
			-webkit-box-shadow: 10px 10px 5px -7px rgba(179, 173, 179, 1);
			-moz-box-shadow: 10px 10px 5px -7px rgba(179, 173, 179, 1);
			box-shadow: 10px 10px 5px -7px rgba(179, 173, 179, 1);
			transition: all .2s ease-in-out;

			&:hover {
				transform: scale(1.03);
				background-color: #b4e0c7;
				color: #000;
			}
		}

		.card-body .fas {
			color: #fff;
			margin-right: 10px;
		}

		.subtitulo {
			font-size: 2.3em;
			font-weight: bold;
		}

		.subtitulo::after {
			content: "";
			display: block;
			background: #ffda59;
			width: 30px;
			height: 2px;
			margin-top: 5px;
			margin-bottom: 2px;
		}

		.banner-e-titulo img {
			max-height: 250px;
			border: 2px solid #ccc;
		}

		.cards-videos {
			font-weight: bold;
		}

		.bt-android,
		.bt-ios {
			background-color: #3f6ebc;
			padding: 15px;
			font-size: 2em;
			border-radius: 4px;
			color: #fff;
			margin: 0 auto;
			cursor: pointer;

			&:hover {
				background-color: #48c37c;
			}
		}

		.bt-android i,
		.bt-ios i {
			margin: 5px;
			font-size: 1.7em;
		}

		.texto-download {
			font-size: 2em;
			color: #7dacaa;
		}

	}

	#linhaTempo {
		.carousel-item a {
			color: #25568e;
			text-decoration: underline;
		}

		.titulo_title {
			color: #25568e;
		}

		background: url(../img/bg-timeline.jpg) no-repeat;

		.carousel-inner {
			-webkit-box-shadow: 10px 10px 5px -7px rgba(179, 173, 179, 1);
			-moz-box-shadow: 10px 10px 5px -7px rgba(179, 173, 179, 1);
			box-shadow: 10px 10px 5px -7px rgba(179, 173, 179, 1);
			padding: 30px;
			border: 1px solid #ccc;
			border-radius: 4px;
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#339967+0,ffffff+86&0.58+0,0+85 */
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f1e5c5+0,ffffff+80&0.58+0,0+65 */
			background: -moz-linear-gradient(-45deg, rgba(241, 229, 197, 0.58) 0%, rgba(252, 250, 244, 0) 65%, rgba(255, 255, 255, 0) 80%);
			/* FF3.6-15 */
			background: -webkit-linear-gradient(-45deg, rgba(241, 229, 197, 0.58) 0%, rgba(252, 250, 244, 0) 65%, rgba(255, 255, 255, 0) 80%);
			/* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(135deg, rgba(241, 229, 197, 0.58) 0%, rgba(252, 250, 244, 0) 65%, rgba(255, 255, 255, 0) 80%);
			/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94f1e5c5', endColorstr='#00ffffff', GradientType=1);
			/* IE6-9 fallback on horizontal gradient */
		}

		.foto-linha-tempo {
			float: left;
		}

		h5 {
			font-weight: bold;
			font-size: 2em;
			color: #25568e;
		}

		h3 {
			width: 100%;
		}

		.texto-linha-tempo {
			background-color: #b4e0c7;
		}

		img {
			margin-right: 20px;
			border-radius: 4px;
			cursor: pointer;
		}
	}

	#servicos {
		.titulo_title {
			color: #25568e;
		}

		.card-title {
			font-size: 1.6em;
			font-weight: bold;
			color: #25568e;
		}

		.card {
			border: 1px solid #ccc;
			border-radius: 4px;
			-webkit-box-shadow: 10px 10px 5px -7px rgba(179, 173, 179, 1);
			-moz-box-shadow: 10px 10px 5px -7px rgba(179, 173, 179, 1);
			box-shadow: 10px 10px 5px -7px rgba(179, 173, 179, 1);
		}


		.btn-primary {
			background-color: #fee153;
			border-color: #fee153;
			color: #6b6b6b;
		}

	}

	.bg-gray {
		background: url(../img/bg-titulo.jpg) no-repeat;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
	}

	.titulo_title {
		font-size: 3em;
	}


	.titulo_videos .carousel-indicators {
		position: relative;
	}

	.titulo_videos .carousel-indicators li {
		background-color: #25568e;
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}

	.titulo_videos .carousel-inner .imagem-youtube img {
		opacity: 1;
	}




	.titulo_eleitoral_slide {
		z-index: 1;

		.carousel-caption {
			bottom: none;
			top: 20px;
		}

		.carousel-item {
			background-color: #000;

			img {
				z-index: 1;
				/*opacity: 0.5;*/

				@media (max-width: 768px) {
					max-height: 200px;
					overflow: hidden;
				}
			}
		}
	}

	.slide-texto {
		top: 20px;
		bottom: 0;

		@media (max-width: 768px) {
			position: relative;
			color: #000;
			margin-top: -160px;
			margin-left: 0;
			margin-right: 0;


		}

		margin-left: 15%;
		margin-right: 15%;
		padding: 4%;
		text-align: center;
		color: #FFF;

		.slide-texto_paragrafos {
			border-bottom: 1px solid #FFF;
			border-top: 1px solid #FFF;
			padding: 20px;

			@media (max-width: 768px) {
				border: none;
			}
		}

		h5 {
			font-size: 2em;
			font-weight: bold;
			width: 100%;
			color: rgb(211, 206, 206);

			@media (max-width: 768px) {
				font-size: 1.4em;
				height: 100px;
			}

			span {
				font-size: 1.4em;
			}
		}

		p {
			padding: 0px;
			margin: 0px;

			@media (max-width: 768px) {
				text-align: left;
				padding: 10px;
				margin: auto;
			}
		}
	}


	.titulo-menu {
		background-color: #48c37c;
		line-height: 84px;
		font-size: 1.2em;
		font-weight: bold;

		@media (max-width: 768px) {

			line-height: 30px;

		}

		li {
			@media (max-width: 768px) {
				width: 100%;
				text-align: left;
				border-bottom: 1px solid #996500;


			}

			&.last {
				border-bottom: none;
			}
		}

		a:link,
		a:visited {
			color: #fff;
		}

		a:hover {
			color: #000;
		}
	}

	@media (max-width: 768px) {
		.geral-pesquisa {
			margin-top: 0;
			margin-bottom: 0
		}

		.geral-pesquisa_form img.img_je {
			display: none;
		}

		.geral-pesquisa_titulo h2 {
			margin-top: -10px;
			line-height: 30px;
		}
	}

}
