<%
const config = {
  'title': 'CDE 2020 - Centro de Divulgação das Eleições 2020',
  'path': 'cde-2020',
  'fonts': [
    'shared/fonts/source-sans-pro.css',
    'shared/fonts/merriweather.css',
  ],
  'styles': [
    'shared/font-awesome.css',
    'shared/bootstrap.css',
    'shared/fancybox.css',
    'shared/style.css',
    'cde-2020.css',
  ],
  'scripts': [
    'shared/jquery-3.4.1.min.js',
    'shared/bootstrap.min.js',
    'shared/geral.js',
  ],
};
%>
<%- include('../../templates/shared/header', { config })%>
<%- include('../../templates/shared/menu', { config }); -%>
<main id="cde-2020">
   <section id="cde-2020_topo">
      <div class="container ">
         <div class="row">
            <div class="col-md-6 cde-2020_logo text-center">
               <img src="/assets/images/cde-2020/cde-logo-2020.png" alt="logo do cde 2020" class="img-fluid">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2 cde-2020_logo-secundaria cde-2020_logo-je">
               <img src="/assets/images/cde-2020/logo-je.fw.png" alt="logo JE">
            </div>
            <div class="col-md-2 cde-2020_logo-secundaria">
               <img src="/assets/images/cde-2020/logo-seu-voto-tem-poder.png"
                  alt="logo Seu Voto Tem Poder">
            </div>
         </div>
      </div>
   </section>
   <section id="cde-2020_apresentacao">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <h1>Bem-vind@ à página do Centro de Divulgação das Eleições (CDE 2020)!</h1>
               <p>
                  Este espaço é o principal canal de comunicação entre o Tribunal Superior Eleitoral (TSE) e os
                  profissionais que trabalharão no CDE 2020 no pleito deste ano. Ele reúne um conjunto de
                  informações úteis relacionadas às principais etapas do processo eleitoral, e sobre o
                  funcionamento do Centro. Novidades sobre as eleições, informações sobre credenciamento de
                  imprensa para o CDE Presencial e Virtual, e boletins de urna nos dias de votação são alguns
                  dos assuntos que constarão nesta área. Fique atent@ e acompanhe as constantes atualizações
                  que serão realizadas aqui pela equipe da Assessoria de Comunicação do TSE (Ascom).
               </p>
            </div>
            <div class="col-md-6">
               <img src="/assets/images/cde-2020/banner-apresentacao.png" alt="Banner Apresentação" class="img-fluid">
            </div>
         </div>
      </div>
   </section>
   <section id="cde-2020_abas">
      <div class="container-fluid">
         <div id="accordion">
            <div class="card cde-2020_credenciamento">
               <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                     <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                     Credenciamento
                     </button>
                  </h5>
               </div>
               <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordion">
                  <div class="card-body container">
                     <h2 class="text-center">
                        TRIBUNAL SUPERIOR ELEITORAL (TSE)<br>
                        ASSESSORIA DE COMUNICAÇÃO SOCIAL (ASCOM)<br>
                        CENTRO DE DIVULGAÇÃO DAS ELEIÇÕES 2020 (CDE 2020)<br>
                        REGRAS PARA CREDENCIAMENTO DE IMPRENSA<br><br>
                        LEIA COM ATENÇÃO ANTES DE PREENCHER O FORMULÁRIO
                     </h2>
                     <p>
                        O presente credenciamento destina-se <strong>EXCLUSIVAMENTE</strong> aos <strong>VEÍCULOS DE IMPRENSA</strong>
                        que desejam enviar equipes de jornalistas para a cobertura das Eleições Municipais de 2020 na sede do Tribunal
                        Superior Eleitoral (TSE), em Brasília.
                     </p>
                     <p>
                        Em virtude da pandemia da Covid-19 e considerando as orientações do Plano de Segurança Sanitária, elaborado pela
                        consultoria sanitária formada por especialistas da Fiocruz e dos hospitais Sírio-Libanês e Albert Einstein, o
                        Centro de Divulgação das Eleições 2020 (CDE 2020) funcionará de duas maneiras: <strong>Virtual</strong> e
                        <strong>Presencial</strong>.
                     </p>
                     <p>Para o <strong>CDE 2020 Virtual</strong>, os credenciamentos podem ser realizados pelos próprios profissionais de
                        imprensa, que receberão as informações relativas às Eleições 2020 pelo celular, incluindo boletins de urna,
                        textos, e contatos de plantão na Assessoria de Comunicação.
                     </p>
                     <p>Já para o <strong>CDE 2020 Presencial</strong>, o credenciamento será oferecido exclusivamente para veículos de
                        comunicação, e profissionais da imprensa que entendam ser <strong>ESSENCIAL</strong> a realização da cobertura
                        de forma presencial.
                     <p>
                     </p>
                     <p>
                        Essa medida será adotada para limitar a quantidade de profissionais num mesmo local e evitar aglomeração. Para
                        tanto, a Assessoria de Comunicação Social do TSE vai analisar os pedidos de credenciamento ao CDE 2020
                        Presencial e aprovará ou não cada pedido, observando, inclusive, a capacidade de pessoas no espaço. A
                        confirmação ou a recusa do credenciamento ocorrerá por intermédio do e-mail informado na solicitação das
                        credenciais.
                     </p>
                     <p>
                        As credenciais fornecidas para os veículos deverão ser compartilhadas entre as equipes designadas para a
                        cobertura das Eleições 2020 e valerão tanto para o primeiro turno (15 de novembro) quanto para o segundo (29 de
                        novembro). O uso da credencial é de responsabilidade do profissional cotado para a cobertura. <strong>O EXTRAVIO
                        DO DOCUMENTO NÃO DARÁ DIREITO A OUTRA CREDENCIAL PARA O VEÍCULO DE IMPRENSA</strong>.
                     </p>
                     <p>
                     <p>
                        As credenciais para o <strong>CDE 2020 Presencial</strong> serão distribuídas aos veículos de imprensa nos dias
                        12 e 13 de novembro de 2020, na Ascom/TSE, mediante identificação do profissional pela área de segurança do TSE.
                     </p>
                     O profissional designado para atuar nas Eleições 2020 terá de utilizar OBRIGATORIAMENTE máscara e observar o
                     distanciamento social. </p>
                     <p>
                        Serão disponibilizadas credenciais nominais aos VEÍCULOS DE IMPRENSA, discriminados por tipo:
                     </p>
                     <p>
                     <ul>
                        <li>2 credenciais por VEÍCULO DE MÍDIA IMPRESSA ou DIGITAL (JORNAL, REVISTA, SITE);</li>
                        <li>1 credencial por EMISSORA DE RÁDIO;</li>
                        <li>3 credenciais por EMISSORA DE TELEVISÃO;</li>
                     </ul>
                     </p>
                     <p>
                        As credenciais serão distribuídas conforme o nome do veículo de imprensa. Diferentes veículos de um mesmo grupo
                        de comunicação, do mesmo tipo de mídia e com números de CNPJ diferentes, deverão se credenciar com o seu nome de
                        fantasia. Será observado o limite de dois grupos extras de credenciais do mesmo tipo de mídia para diferentes
                        veículos da mesma organização.
                     </p>
                     <p>
                        Informamos que as dependências do Tribunal – como o saguão do Plenário, os auditórios e outras áreas fechada do
                        TSE – não estarão disponíveis para o livre acesso pelos profissionais credenciados nem mesmo para gravar
                        passagens. Para isso, serão disponibilizados espaços no térreo do TSE.
                     </p>
                     <p>Além disso, <strong>não serão disponibilizadas cabines de transmissão para emissoras de rádio</strong>. </p>
                     <p>
                        Devido ao número limitado de vagas (estações de trabalho, cabines de rádio e slots para tevês) no âmbito do
                        <strong>CDE 2020 Presencial</strong>, o TSE reserva-se o direito de restringir o acesso ao Centro, levando em
                        consideração a manutenção do distanciamento social entre os profissionais.
                     <p>
                     </p>
                     <p>
                        Esclarecimentos adicionais poderão ser obtidos na página do CDE 2020 ou diretamente junto à Ascom/TSE pelos
                        telefones (61) 3030-7091 e (61) 3030-7541. Os interessados podem ainda enviar mensagem ao e-mail: <a
                           href="mailto:cdecredenciamento@tse.jus.br">cdecredenciamento@tse.jus.br</a>
                     </p>
                     <!-- <h2 class="confirmar">
                        <input type="checkbox"> Li e concordo com os termos
                        </h2> -->
                  </div>
               </div>
            </div>
            <div class="card cde-2020_informacoes-uteis">
               <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                     Informações Úteis
                     </button>
                  </h5>
               </div>
               <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body container">
                     <h2>Regras de funcionamento</h2>
                     <p>
                        O Centro de Divulgação das Eleições (CDE) Presencial funcionará apenas no dia das Eleições Municipais, no
                        primeiro e no segundo turno. O espaço é destinado exclusivamente aos profissionais de imprensa (repórteres /
                        cinegrafistas / fotógrafos e técnicos) designados por veículos de comunicação para cobertura das Eleições 2020.
                        Para mais informações sobre credenciamento para acesso ao CDE 2020, <a href="#credenciamento"> clique aqui</a>.
                     </p>
                     <h2>Horário de Funcionamento do CDE 2020</h2>
                     <p>
                        Dias de realização das eleições no primeiro e segundo turnos (15 e 29 de novembro de
                        2020): das 6h às 23h.
                     </p>
                     <h2>
                        Guia do Jornalista
                     </h2>
                     <p>
                        Nessas eleições, o <a href="http://www.justicaeleitoral.jus.br/arquivos/guia-do-jornalista">Guia do
                        Jornalista</a> será no formato eletrônico. O
                        objetivo é oferecer
                        subsídios, estatísticas e esclarecimentos que ajudam a compreender melhor o cenário
                        eleitoral brasileiro, bem como auxiliar na apuração de informações referentes ao pleito
                        deste ano. Para fazer o download <a href="http://www.justicaeleitoral.jus.br/arquivos/guia-do-jornalista">clique
                        aqui</a>.
                     </p>
                     <h2>E-mail para </h2>
                     <p><a href="mailto:cdecredenciamento@tse.jus.br">cdecredenciamento@tse.jus.br</a></p>
                     <h2>Telefones úteis</h2>
                     <p>
                        (61) 3030-7091 / (61) 3030-7080 /(61) 3030-7153 / (61) 3030-7740/ (61) 3030-7541
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
<%- include('../../templates/shared/footer', { config } );%>

