

$path-img-shared: '/assets/images/shared';
$path-img: '/assets/images/justica-eleitoral';

#justica-eleitoral {
  font-family: "Source Sans Pro";

	.justica-eleitoral_slide {
		z-index: 1;
		.carousel-caption {
			bottom: none;
			top: 20px;
		}
		.carousel-item {
			background-color: #000;
			img {
				z-index: 1;
				opacity: 0.5;
				@media (max-width: 768px) {
					max-height: 200px;
					overflow: hidden;
				}
			}
		}
	}
	.slide-texto {
		top: 20px;
		bottom: 0;
		@media (max-width: 768px) {
			position: relative;
			color: #000;
			margin-top: -160px;
			margin-left: 0;
			margin-right: 0;
		}
		margin-left: 15%;
		margin-right: 15%;
		padding: 4%;
		text-align: center;
		color: #FFF;
		img {
			margin: 0px auto;
			margin-bottom: 2%;
		}
		.slide-texto_paragrafos {
			border-bottom: 1px solid #FFF;
			border-top: 1px solid #FFF;
			padding: 20px;
			@media (max-width: 768px) {
				border: none;
			}
		}
		h5 {
			font-size: 2em;
			font-weight: bold;
			width: 100%;
			color: rgb(211, 206, 206);
			@media (max-width: 768px) {
				font-size: 1.4em;
				height: 100px;
			}
			span {
				font-size: 1.4em;
			}
		}
		p {
			padding: 0px;
			margin: 0px;
			@media (max-width: 768px) {
				text-align: left;
				padding: 10px;
				margin: auto;
			}
		}
	}
	.je-menu {
		background-color: #FFCC66;
		line-height: 84px;
		font-size: 1.2em;
		font-weight: bold;
		.navbar-expand-md .navbar-nav .nav-link {
			padding-left: 0px;
			padding-right: 0px;
		}
		.navbar-brand {
			display: none;
		}
		@media (max-width: 768px) {
			line-height: 30px;
			.navbar-brand {
				display: block;
			}
		}
		li {
			@media (max-width: 768px) {
				width: 100%;
				text-align: left;
				border-bottom: 1px solid #996500;
			}
			&.last {
				border-bottom: none;
			}
		}
		a:link,
		a:visited {
			color: #996500;
		}
		a:hover {
			color: #653300;
		}
	}
	.je-faz {
		background-color: #E7ECF0;
		background-image: url('#{$path-img}/fundo-je-faz.png');
		background-repeat: no-repeat;
		background-position: top right;
		background-size: 100%;
		padding-top: 150px;
		padding-bottom: 150px;
		@media (max-width: 768px) {
			background-image: url('#{$path-img}/fundo-je-faz-d.png');
			background-position: top center;
			background-size: 70%;
			padding-top: 350px;
		}
		@media (max-width: 479px) {
			background-image: url('#{$path-img}/fundo-je-faz-d.png');
			background-position: top center;
			background-size: 100%;
			padding-top: 250px;
		}
		.je-faz_conteudo {
			height: auto;
			text-align: center;
			.je-faz_titulo {
				width: 100%;
				font-size: 2.2em;
				color: #48724A;
				font-weight: bold;
			}
			.je-faz_sub-titulo {
				font-size: 1.5em;
				margin-bottom: 50px;
			}
			.je-faz_quadros {
				text-align: center;
				padding: 0px;
				padding: 1%;
				@media (max-width: 768px) {
					padding: 4%;
				}
				img {
					margin: 10%;
				}
				.je-faz_titulo-quadros {
					background-color: #FFF;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
					h5 {
						height: 90px;
						margin-bottom: 0px;
					}
				}
				.je-faz_botao {
					div {
						width: 50%;
						border: none;
						border-radius: 0px;
						line-height: 50px;
						float: left;
						color: #FFF;
						font-weight: bold;
						cursor: pointer;
						&:hover {
							opacity: 0.7;
						}
					}
					.btn-faz {
						background-color: #6DD298;
						border-bottom-left-radius: 10px;
					}
					.btn-nao-faz {
						background-color: #898989;
						border-bottom-right-radius: 10px;
					}
				}
			}
		}
	}
	.je-videos {
		text-align: center;
		background-color: #191933;
		padding-top: 40px;
		padding-bottom: 100px;
		background-image: url('#{$path-img}/bg-secao-videos.png');
		background-position: top center;
		background-repeat: no-repeat;
		.btn-branco {
			margin-top: 40px;
			color: #191933;
			background-color: #FFF;
			font-weight: bold;
			&:hover {
				background-color: #FFCC66;
			}
		}
		.je-videos-coluna {
			margin-bottom: 30px;
		}
		.je-faz_titulo-branco {
			width: 100%;
			font-size: 2.2em;
			color: #FFF;
			font-weight: bold;
			padding-top: 100px;
			padding-bottom: 40px;
		}
		.carousel-indicators {
			bottom: -50px;
			@media (max-width: 768px) {
				bottom: -20px;
			}
			li {
				background-color: #FFCC66;
				width: 10px;
				height: 10px;
				border-radius: 50%;
			}
		}
		.carousel-indicators,
		.carousel-control-next,
		.carousel-control-prev {
			@media (min-width: 768px) {
				display: none;
			}
		}
	}
	.je-glossario {
		background-color: #E7ECF0;
		background-image: url('#{$path-img}/bg-secao-glossario.png');
		background-repeat: no-repeat;
		background-position: top center;
		background-size: width 100%;
		padding-top: 150px;
		padding-bottom: 150px;
		text-align: center;
		.je-glossario_perguntas {
			text-align: left;
		}
		.je-glossario_titulo {
			width: 100%;
			color: #339967;
			font-size: 4em;
			line-height: 30px;
			span {
				font-size: 0.5em;
			}
		}
		.je-glossario_botoes {
			padding: 2%;
		}
		.btn-glossario {
			background-color: #34CC67;
			width: 100%;
		}
		.je-glossario_letra {
			font-size: 4em;
			color: #339967;
			font-weight: bold;
			padding-top: 15px;
			padding-bottom: 15px;
			text-align: center;
		}
		.je-glossario_video {
			.je-glossario_video-lista {
				height: auto;
				background-color: #000;
				figure {
					position: relative;
					img {
						opacity: 0.5;
					}
					i {
						position: absolute;
						font-size: 4em;
						top: 30%;
						left: 35%;
					}
				}
			}
			.je-glossario_imagem-youtube i {
				position: absolute;
				top: 30%;
			}
		}
		.card {
			display: none;
			&.glossario-a {
				display: block;
			}
		}
		.card-header {
			// ::before {
			// 	float: right !important;
			// 	font-family: FontAwesome;
			// 	content:'+';
			// 	padding-right: 5px;
			// }
			h3[aria-expanded="true"] {
				::before {
					float: right !important;
					content: '-';
					padding-right: 5px;
				}
			}
			// .collapsed:before {
			// 	content:'-';
			// }
			h3[aria-expanded="false"] {
				::before {
					float: right !important;
					content: '+';
					padding-right: 5px;
				}
			}
		}
	}
	#perguntasFrequentes {
		padding-top: 150px;
	}
	.img-modal-icone {
		max-width: 100px;
	}
}

