$path-img: '/assets/images/spe';

#seguranca-processo-eleitoral {
    .justica-eleitoral_slide {
        z-index: 1;

        .carousel-caption {
            bottom: none;
            top: 20px;
        }

        .carousel-item {
            background-color: #000;

            img {
                z-index: 1;
                opacity: 0.5;

                @media (max-width: 768px) {
                    max-height: 200px;
                    overflow: hidden;
                }
            }
        }
    }

    .slide-texto {
        top: 20px;
        bottom: 0;

        @media (max-width: 768px) {
            position: relative;
            color: #000;
            margin-top: -160px;
            margin-left: 0;
            margin-right: 0;
        }
        @media (min-width: 1300px) {
        margin-left: 15%;
        margin-right: 15%;
        padding: 4%;
        }

        text-align: center;
        color: #FFF;

        .slide-img {
            img {
                margin-top: 10%;
                @media (max-width: 768px) {
                    width: 50%;
                    margin-top: -20px;
                }
                 @media (max-width: 430px) {
                     width: 60%;
                     margin-top: 0px;

                 }
            }
        }

        .slide-texto_paragrafos {
            padding: 20px;
            text-align: left;

            p {
                padding-bottom: 25px;
            }

            @media (max-width: 768px) {
                border: none;
            }
        }

        h5 {
            font-size: 2em;
            font-weight: bold;
            width: 100%;
            color: rgb(211, 206, 206);

            @media (max-width: 768px) {
                font-size: 1.4em;
                height: 100px;
            }

            span {
                font-size: 1.4em;
            }
        }

        p {
            padding: 0px;
            margin: 0px;

            @media (max-width: 768px) {
                text-align: left;
                padding: 10px;
                margin: auto;
            }
        }
    }

    .je-menu {
        background-color: #333333;
        line-height: 84px;
        font-size: 1.2em;
        font-weight: bold;

        @media (max-width: 768px) {
            line-height: 30px;
        }

        li {
            @media (max-width: 768px) {
                width: 100%;
                text-align: left;
                border-bottom: 1px solid #996500;
            }

            &.last {
                border-bottom: none;
            }
        }

        a:link,
        a:visited {
            color: #FFF;
        }

        a:hover {
            color: #FFCC66;
        }
    }

    .je-faz {
        background-color: #FFF;
        background-image: url('#{$path-img}/bg-seguranca-pe-passo-a-passo.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 100%;
        padding-top: 50px;
        padding-bottom: 0px;

        @media (max-width: 768px) {
            background-position: top center;
            padding-top: 150px;
        }

        @media (max-width: 479px) {
            background-position: top center;
            padding-top: 150px;
        }

        .je-faz_conteudo {
            height: 220vh;

             @media (max-width: 1500px) {
                 height: 157vh;
             }

             @media (max-width: 1200px) {
                 height: auto;
             }

            @media (max-width: 768px) {
                height: 70vh;
            }

             @media (max-width: 500px) {
                 height: 40vh;
             }

              @media (max-width: 360px) {
                  height: 40vh;
              }

            text-align: center;

            .je-faz_titulo {
                width: 100%;
                font-size: 3.2em;
                color: #FFF;
                font-weight: bold;
                text-align: left;
                position: relative;

                line-height: 40px;
                padding-bottom: 30px;

                @media (max-width: 768px) {
                    color: #336798;
                    text-align: center;
                }
            }

            .je-faz_sub-titulo {
                font-size: 1.5em;
                margin-bottom: 50px;
            }

            .passo-3,
            .passo-8 {
                .je-faz_titulo-quadros {
                    p {
                        padding-top: 45px;
                    }
                }


            }

            .passosBotoes {
                background-color: #FFF;
                margin-top: 10px;
                @media (min-width: 768px) {
                    display: none;

                }


            }

            .je-faz_quadros {
                text-align: center;

                .btn-azul {
                    color: #FFF;
                    background-color: #336798;
                    margin: 1%;
                    font-size: 1.4em;

                    line-height: 40px;
                    &:hover {
                        color: #336798;
                        background-color: #FFF;
                        border: #336798 solid 1px;
                    }
                }

                @media (max-width: 768px) {
                    position: absolute;
                    display: none;
                    &.passo-1 {
                        display: block
                    }
                }


                padding: 1%;

                img {
                    width: 5vw;
                     @media (max-width: 768px) {
                          width: 26vw;
                     }
                }

                @media (min-width: 1200px) {
                 position: absolute;



                    &.passo-1 {
                        margin-top: 15%;
                        left: 10%;
                    }

                    &.passo-2 {
                        margin-top: 10%;
                        left: 30%;
                    }

                    &.passo-3 {
                        margin-top: 5%;
                        left: 50%;

                    }

                    &.passo-4 {
                        margin-top: 0px;
                        left: 70%;
                    }

                    &.passo-5 {
                        left: 80%;
                        margin-top: 20%;

                    }

                     &.passo-6 {
                         left: 60%;
                         margin-top: 30%;
                     }

                     &.passo-7 {
                         left: 40%;
                         margin-top: 35%;
                     }

                     &.passo-8 {
                         left: 20%;
                        margin-top: 40%;

                     }

                     &.passo-9 {
                         left: 1%;
                         margin-top: 45%;
                     }
                     &.passo-10 {
                         left: 5%;
                        margin-top: 65%;
                     }

                      &.passo-11 {
                          left: 16%;
                         margin-top: 83%;
                      }

                       &.passo-12 {
                           left: 31%;
                           margin-top: 70%;
                       }

                       &.passo-13 {
                           left: 51%;
                           margin-top: 78%;
                       }

                       &.passo-14 {
                           left: 68%;
                           margin-top: 66%;
                       }

                        &.passo-15 {
                            left: 80%;
                            margin-top: 50%;
                        }


                }



                @media (max-width: 1200px) {
                    padding: 4%;
                    // position: absolute;
                }

                img {
                    margin: 2%;
                }

                .je-faz_titulo-quadros {
                    background-color: #FFF;
                    box-shadow: 1px 2px 3px #333333;
                    width: 17vw;
                    height: 17vw;
                    font-size: 0.8vw;

                     @media (max-width: 1200px) {

                         width: 24vw;
                         height: 24vw;
                         font-size: 1.2vw;

                     }

                     @media (max-width: 768px) {

                         width: 90vw;
                         height: 90vw;
                         font-size: 4.1vw;

                     }
                    border-radius: 50%;

                    align-items: center;
                    border: 1px solid #ccc;
                    display: flex;
                    justify-content: center;
                    max-width: 100%;
                    overflow: hidden;
                    padding: 30px;


                }

                .je-faz_botao {
                    width: 100%;
                    text-align: center;

                    div {
                        position: absolute;
                        width: 80px;
                        border: none;
                        width: 5vw;
                        line-height: 5vw;

                        @media (max-width: 768px) {

                            width: 20vw;
                            line-height: 20vw;

                        }
                        border-radius: 50%;
                        color: #FFF;
                        font-weight: lighter;
                        margin: 0 auto;
                        z-index: 99999999;
                    }

                    .btn-faz {
                        background-color: #336798;
                        font-size: 3vw;

                        @media (max-width: 768px) {
font-size: 8vw;
                        }
                    }
                }
            }
        }
    }

    .je-videos {
        text-align: center;
        background-color: #191933;
        padding-top: 40px;
        padding-bottom: 100px;
        background-image: url('#{$path-img}/bg-secao-seguranca-pe-noticias-falsas.jpg');
        background-position: top center;
        background-repeat: no-repeat;

        .je-videos-coluna {
            margin-bottom: 30px;
        }

        .je-faz_titulo-branco {
            width: 100%;
            font-size: 2.2em;
            color: #FFF;
            font-weight: bold;
            padding-top: 100px;
            padding-bottom: 40px;
        }

        .carousel-indicators {
            bottom: -50px;

            @media (max-width: 768px) {
                bottom: -20px;
            }

            li {
                background-color: #FFCC66;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }

        .carousel-indicators,
        .carousel-control-next,
        .carousel-control-prev {
            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    .je-glossario {
        background-color: #E7ECF0;
        background-image: url('#{$path-img}/bg-secao-glossario.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: width 100%;
        padding-top: 150px;
        padding-bottom: 150px;
        text-align: center;

        .je-glossario_perguntas {
            text-align: left;
        }

        .je-glossario_titulo {
            width: 100%;
            color: #339967;
            font-size: 4em;
            line-height: 30px;

            span {
                font-size: 0.5em;
            }
        }

        .je-glossario_botoes {
            padding: 2%;
        }

        .btn-glossario {
            background-color: #34CC67;
            width: 100%;
        }

        .je-glossario_letra {
            font-size: 4em;
            color: #339967;
            font-weight: bold;
            padding-top: 30px;
        }

        .je-glossario_video {
            .je-glossario_video-lista {
                height: auto;
                background-color: #000;

                figure {
                    position: relative;

                    img {
                        opacity: 0.5;
                    }

                    i {
                        position: absolute;
                        font-size: 4em;
                        top: 30%;
                        left: 35%;
                    }
                }
            }

            .je-glossario_imagem-youtube i {
                position: absolute;
                top: 30%;
            }
        }
    }

    #perguntas-frequentes {
        padding-top: 50px;
    }

    .img-modal-icone {
        max-width: 100px;
    }

    .geral-pesquisa {

         @media (max-width: 768px) {
             margin-bottom: 60px;

         }


        &.perguntas-seguranca-pe {
            background-color: #003466;


                .titulo_je {

                @media (max-width: 768px) {
                    margin-top: 0px;
                    line-height: 1.7em;
                }

                @media (max-width: 410px) {

                    line-height: 1em;
                }

            }
        }




    }

    .perguntas-spe {
        background-image: url('#{$path-img}/bg-secao-perguntas-spe.png');
        background-repeat: no-repeat;
        background-position: bottom left;

        @media (max-width: 1300px) {
            padding-bottom: 250px;
        }
    }

    #spe-voce-fiscal {
        background-image: url('#{$path-img}/bg-secao-voce-fiscal-spe.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;
        padding-top: 150px;
        padding-bottom: 150px;
        text-align: center;

        @media (max-width: 768px) {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        h3 {
            width: 100%;
            font-size: 3em;
            color: #000
        }

        h4 {
            font-size: 1.5em;
            color: #000;
            padding-top: 20px;
            padding-bottom: 30px;
        }

        p {
            width: 75%;
            margin: 0 auto;
            padding-top: 20px;
            padding-bottom: 40px;
            font-size: 1.4em;

            @media (max-width: 768px) {
                font-size: 1.1em;
            }
        }

        .spe-voce-fiscal_cards {
            .spe-voce-fiscal_card {
                cursor: pointer;
                background-image: url('#{$path-img}/lupa.png');
                background-position: top center;
                background-repeat: no-repeat;
                background-size: 80%;

                img {
                    width: 100%;
                }
            }

            :hover {
                img {
                    opacity: 0.5;
                    transition: opacity 0.6s ease-in;
                }

                h4 {
                    color: #C6A1EC;
                    transition: color 0.7s ease-in;
                }
            }
        }
    }

    .timeline {
        background-image: url('#{$path-img}/bg-secao-timeline-spe.jpg');
        background-position: top center;
        background-size: 100%;
        background-repeat: no-repeat;

        h3 {
            line-height: 40px;
        }
    }

    .timeline #timeline-carousel .carousel-inner .carousel-item {
        h4 {
            display: block;
        }

        img {
            float: left;
        }

        span {
            font-size: 1.3em;
        }
    }

    #caca-palavras {
        background-image: url('#{$path-img}/bg-secao-caca-palavras.png');
        background-position: top right;
        background-repeat: no-repeat;
        padding-top: 150px;
        padding-bottom: 150px;

        h3 {
            font-size: 3em;
            color: #000;
            width: 100%;
            text-align: center;
            padding-bottom: 80px;

            span {
                background-color: #32CCFF;
            }
        }

        iframe {
            width: 100%;
            height: 1000px;
            border: none;
        }
    }

    #mitos-verdades {
        background-color: #E7ECF0;
        background-image: url('#{$path-img}/bg-secao-mitos-verdades.png');
        background-position: top right;
        background-repeat: no-repeat;
        padding-top: 150px;
        padding-bottom: 150px;

        h3 {
            font-size: 3em;
            color: #003466;
            width: 100%;
            text-align: center;
            padding-bottom: 80px;
        }

        .card {
            border: none;
            background: none;
        }

        .card-header {

            border: none;
            cursor: pointer;

            h2 {
                text-align: left;
            }

            .btn-link {
                text-decoration: none;
                width: 100%;

                 .botao-imagem {

                    width: 119px;
                    height: 119px;
                     background-image: url('#{$path-img}/icone-mito-verdade.png');
                     background-repeat: no-repeat;
                     margin-right: 20px;
                    float: left;
                }


                &:hover {

                    &.mito {
                    .botao-imagem  {
                        background-image: url('#{$path-img}/icone-mito.png');
                        }
                    }

                     &.verdade {
                    .botao-imagem  {
                        background-image: url('#{$path-img}/icone-verdade.png');
                        }
                    }
                }
                 .botao-texto {

                     margin-top: 5%;
                     height: auto;
                     font-size: 1.2em;
                     text-align: left;

                     padding-left: 15%;
                     color: #000;


                 }
            }



            img {
                vertical-align: none;
                float: left;
            }
        }

        .card-body {
            background-color: #FFF;

            img {
                margin: 10px;
            }
        }
    }

    #passo-a-passo {
        .carousel-inner {
            background-color: #CCC;
        }

        .passo_corpo {
            width: 100%;
            background-color: #FFF;
        }
    }
}

.link-modal-vf:link {
    color: #003466;
}

.link-modal-vf:visited {
    color: #003466;
}

.link-modal-vf:hover {
    color: #003466;
}
