<section id="footer-geral">
    <div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="/assets/images/shared/logoJE_negativa.png" class="d-inline-block align-top" width="100px" alt="">
            </div>
        </div>
    </div>
  </div>
  <div class="faixa-aviso"></div>
</section>
  <div class="navegacao__setas">
      <a target="_blank" href="#top" data-toggle="tooltip" data-placement="top" title="" class="navegacao__setas_subir" data-original-title="Subir"><br>
      <span class="" data-original-title="" title="">Subir</span>
      </a>
      <a data-toggle="tooltip" data-placement="bottom" title="" class="navegacao__setas_descer" data-original-title="Descer">
        <span class="sr-only" data-original-title="" title="">Descer página</span>
        </a>
  </div>
  <% config.scripts.forEach(function(script){ %>
    <script src="/assets/js/<%= script %>"></script>
  <% }); %>
  <!-- rybena -->
  <script src="/assets/js/shared/rybenaDOMFull-1.6.js"></script>
  <script src="/assets/js/shared/rybena-1.0.js"></script>
  <script>
      ryb_ready(function () {

          ryb_includeBar({
              'typeBar': 'sideBar',
              'positionBar': 'right',
              'visCloseBar': 'visible',
              'visCloseBarMobile': 'hidden'
          });

          ryb_initRybena({
              'dimension': '3D',
              'enableMobile': 'true',
              'positionPlayer': 'left'
          });
      });
  </script>
  <!-- rybena -->
</body>
</html>
