<section id="header">
   <div id="cabecalho_je">
      <div class="container-fluid topo">
         <div class="container">
            <div class="row">
               <div class="col-md-6 acessibilidade">
                  <div class="acessibilidade_inline-block">
                     <a target="_blank" href="#content" accesskey="1" class="acessibilidade_oculto">
                     <span>Conteúdo principal [1]</span>
                     </a>
                  </div>
                  <div class="acessibilidade_inline-block">
                     <a target="_blank" href="#nav-principal" accesskey="2" class=" acessibilidade_oculto">
                     <span>Menu principal [2]</span>
                     </a>
                  </div>
               </div>
               <div class="col-md-12 text-right bloco-acessibilidade">
                  <a class="transparencia_link" title="Acessibilidade" href="https://www.tse.jus.br/acessibilidades-tse">Acessibilidade</a>
                  <a target="_blank" href="https://www.tse.jus.br/transparencia">Transparência</a>
                  <a target="_blank" href="https://www.tse.jus.br/transparencia/acesso-a-informacao/acesso-a-informacao" title="Link acesso à Informação">
                  <img src="/assets/images/shared/acesso-informacao.png" alt="Imagem acesso à Informação"></a>
               </div>
            </div>
         </div>
      </div>
      <div class="container menu">
         <nav class = "navbar navbar-expand-xs navbar-light bg-faded navbar-toggleable-md">
            <a class="navbar-brand" href="/" title="Página inicial da Justiça Eleitoral">
            <img src="/assets/images/shared/logo-je.png" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#collapseExample" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="iconne"><span class="texto-menu"></span> <i class="fa fa-bars"></i></span>
            <span class="close"><span class="texto-menu"></span> <i class="fa fa-times"></i></span>
            </button>
         </nav>
      </div>
      <div class="collapse menu-vertical" id="collapseExample">
         <div class="card card-body">
            <div class="container menu-interno">
               <ul class="nav">
                  <li class="nav-item <% if(config.path === 'a-justica-eleitoral'){%>active<%}%>">
                     <a class="nav-link" href="a-justica-eleitoral.html">
                     <img src="/assets/images/shared/icone-menu-aje.png"> A Justiça Eleitoral</a>
                  </li>
                  <li class="nav-item <% if(config.path === 'biometria'){%>active<%}%>">
                     <a class="nav-link" href="/biometria">
                     <img src="/assets/images/shared/icone-menu-biometria.png"> Biometria
                     </a>
                  </li>
                  <li class="nav-item <% if(config.path === 'cde-2020'){%>active<%}%>">
                     <a class="nav-link" href="/cde-2020">
                     <img src="/assets/images/shared/icone-menu-portaldaseleicoes.png"> CDE 2020
                     </a>
                  </li>
                  <li class="nav-item <% if(config.path === 'desinformacao'){%>active<%}%>">
                     <a class="nav-link" href="/desinformacao">
                     <img src="/assets/images/shared/icone-menu-desinformacao.png"> Desinformação
                     </a>
                  </li>
                  <li class="nav-item <% if(config.path === 'doadores-eleicoes'){%>active<%}%>">
                     <a class="nav-link" href="/doadores-eleicoes">
                     <img src="/assets/images/shared/icone-menu-doadores.png"> Doadores das Eleições 2020
                     </a>
                  </li>
               </ul>
               <ul class="nav">
                  <li class="nav-item <% if(config.path === 'dialogos-democraticos'){%>active<%}%>">
                     <a class="nav-link" href="/dialogos-democraticos">
                     <img src="/assets/images/shared/icone-menu-dialogos.png"> Diálogos Democráticos
                     </a>
                  </li>
                  <li class="nav-item <% if(config.path === 'fato-ou-boato'){%>active<%}%>">
                     <a class="nav-link" href="/fato-ou-boato">
                     <img src="/assets/images/shared/icone-menu-fatoouboato.png"> Fato ou Boato?
                     </a>
                  </li>
                  <li class="nav-item <% if(config.path === 'jovem-eleitor'){%>active<%}%>">
                     <a class="nav-link" href="/jovem-eleitor">
                     <img src="/assets/images/shared/icone-menu-jovemeleitor.png"> Jovem Eleitor
                     </a>
                  </li>
                  <li class="nav-item <% if(config.path === 'parcerias-digitais-eleicoes'){%>active<%}%>">
                     <a class="nav-link" href="/parcerias-digitais-eleicoes">
                     <img src="/assets/images/shared/icone-menu-parcerias.png"> Parcerias Digitais Eleições 2020
                     </a>
                  </li>
                  <li class="nav-item <% if(config.path === 'participa-mulher'){%>active<%}%>">
                     <a class="nav-link" href="/participa-mulher">
                     <img src="/assets/images/shared/icone-menu-participamulher.png"> Participa Mulher
                     </a>
                  </li>
               </ul>
               <ul class="nav">
                  <li class="nav-item <% if(config.path === 'eleicoes'){%>active<%}%>">
                     <a class="nav-link" href="/eleicoes">
                     <img src="/assets/images/shared/icone-menu-portaldaseleicoes.png"> Portal das Eleições
                     </a>
                  </li>
                  <li class="nav-item <% if(config.path === 'spe'){%>active<%}%>">
                     <a class="nav-link" href="/spe">
                     <img src="/assets/images/shared/icone-menu-spe.png"> Segurança do Processo Eleitoral
                     </a>
                  </li>
                  <li class="nav-item <% if(config.path === 'tps'){%>active<%}%>">
                     <a class="nav-link" href="/tps">
                     <img src="/assets/images/shared/icone-menu-tps.png"> Teste Público de Segurança
                     </a>
                  </li>
                  <li class="nav-item <% if(config.path === 'titulo-eleitoral'){%>active<%}%>">
                     <a class="nav-link" href="/titulo-eleitoral">
                     <img src="/assets/images/shared/icone-menu-te.png"> Título Eleitoral
                     </a>
                  </li>
                  <li class="nav-item ultimo-link <% if(config.path === 'justica-eleitoral'){%>active<%}%>">
                     <a class="nav-link" href="/"><strong>Início página JE</strong></a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
