.owlCarouselFooter {
  @include make-col-ready(0);

  @include media-breakpoint-up(lg) {
    @include make-col(12);
  }
}
.carousel-footer {
    @extend .carousel;
    margin-top: 30px;
    margin-bottom: 30px;
  &,
  &-img {
    @include img-fluid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
