%help-style {
  margin-top: 0;
  color: #fff!important;
  padding-top: 7.5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: lighter;
  border-bottom-left-radius: $input-border-radius;
  border-bottom-right-radius: $input-border-radius;
}

form:not(.form-filters) {
  input.form-control {
    position: relative;
    top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  label {
    color: $primary;
  }

  small.form-text.text-muted {
    @extend %help-style;
    background-color: $primary;
  }

  .custom-control-label {
    color: #707070;
  }

  .custom-file-label {
    &::after{
      background-color: $primary;
      color: #fff;
    }
  }

  .invalid-feedback {
    @extend %help-style;
    background-color: #830000;
  }

}
