.main-header {
  background:#054956 url("#{$path-img}/bg-header.png") no-repeat center center /cover;
  padding-bottom: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-up(xs) {
    padding-top: 30px;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 0;
    min-height: 380px / 2;
  }

  @include media-breakpoint-up(lg) {
    min-height: 380px;
  }
  .logo {
    @include media-breakpoint-only(xs){
      margin-bottom: 30px;
    }

    @include media-breakpoint-up(sm) {
      order: 2;
    }
    @include media-breakpoint-up(md) {
      order: 1;
    }

    @include media-breakpoint-up(lg) {
      order: 2;
    }
  }

  .logo-header {
    max-width: 370px;
  }
}

.main-content {
    @include make-col-ready(0);
    @include make-col(12);
    display: flex;

    @include media-breakpoint-up(xs) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      justify-content: space-between;
    }
  }



