.main-header {
  background:#054956 url("#{$path-img}/bg-header.png") no-repeat center center /cover;
  padding-bottom: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-up(xs) {
    padding-top: 30px;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 0;
    min-height: 380px / 2;
  }

  @include media-breakpoint-up(lg) {
    min-height: 380px;
  }

  .main-content {
    @include make-col-ready();
    @include make-col(12);
    display: flex;

    @include media-breakpoint-up(xs) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      justify-content: space-between;
    }
  }


  .main-menu {
    @include media-breakpoint-up(sm) {
      order: 1;
    }

    @include media-breakpoint-up(md) {
      order: 2;
    }

    @include media-breakpoint-up(lg) {
      order: 1;
    }
  }

  .logo {
    @include media-breakpoint-only(xs){
      margin-bottom: 30px;
    }

    @include media-breakpoint-up(sm) {
      order: 2;
    }
    @include media-breakpoint-up(md) {
      order: 1;
    }

    @include media-breakpoint-up(lg) {
      order: 2;
    }
  }

  .logo-header {
    max-width: 370px;
  }


}
.navbar-nav .nav-item {
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
      background-color: $preto;
      margin-right: 10px;
      margin-left: 10px;
      border-radius: 10px;
  }
}

.menu-form {
  .form-control {
    @include media-breakpoint-up(sm) {
      height: $input-height-sm;
      padding: $input-padding-y-sm $input-padding-x-sm;
      @include font-size($input-font-size-sm);
      line-height: $input-line-height-sm;
      @include border-radius($input-border-radius-sm);
    }

    @include media-breakpoint-up(md) {
      height: $input-height;
      padding: $input-padding-y $input-padding-x;
      @include font-size($input-font-size);
      line-height: $input-line-height;
      @include border-radius($input-border-radius);
    }

    @include media-breakpoint-up(lg) {
      height: $input-height-lg;
      padding: $input-padding-y-lg $input-padding-x-lg;
      @include font-size($input-font-size-lg);
      line-height: $input-line-height-lg;
      @include border-radius($input-border-radius-lg);
    }
  }
  .form-control.input-active {
    @include media-breakpoint-only(xs) {
      // margin-top: -7px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: -5px;
    }
  }
  .btn-form {
    @include media-breakpoint-up(sm) {
      @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
    }

    @include media-breakpoint-up(lg) {
      @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
    }
  }
}


