.main-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .logo-header {
    margin-bottom: 15px;
  }

  .menu {
    display: flex;
    align-items: center;

    form input {
      width: 0;
      padding: 0;
      display: none;

      &.input-active {
        display: flex;
        width: auto;
        padding: $input-padding-y $input-padding-x;

        @include media-breakpoint-only(xs) {
          top: 0;
        }

        @include media-breakpoint-only(lg) {
          top: 5px;
        }
      }
    }
  }


}
.navbar-collapse {
    @include media-breakpoint-only(xs) {
      padding-right: 30px;
      padding-left: 30px;
  }
}

.btn.open-menu-Header,
.btn.open-menu-Footer {
  display: none;
  @include media-breakpoint-only(xs) {
    display: block;
  }
}


.nav-icon {
  margin-right: 15px;
}

.navbar {
  padding: 1px;
  margin: 5px;

  &.navbar-dark {
    @include media-breakpoint-only(xs) {
      background-color: $preto;
    }
  }
}

.dropdown-menu {
  @include media-breakpoint-only(lg){
    border-radius: 10px;
  }

  background-color: #343a40;

  &.show {
    z-index: 9999;
  }

  .dropdown-divider {
    border-top-color:$preto;
  }

  .dropdown-item {
    color: $primary;
  }
}
