.norma {
  & + .norma {
    padding-top: 20px;
  }

  .card {
    border-color: rgba($primary, .1);
    background-color: rgba($primary, .1);

    &-body {
      font-size: 1rem;
    }
  }
  a[aria-expanded="true"] {
    .fas {
      &::before{
        content: "\f0d7";
      }
    }
  }
}
.procedimento {
  margin-top: 10px;
  & + .procedimento {
    padding-top: 10px;
  }

  .card {
    background-color: #fff;
  }

  a[aria-expanded="true"] {
    .fas {
      &::before{
        content: "\f0d7";
      }
    }
  }
}

