.pagination {
  .page-item {
    margin-left: 10px;
    text-align: center;
    &.active {
      .page-link {
        background-color: #707070;
        color: #fff;
        border: 1px solid rgba(#707070, .50);
      }
    }

    &:first-child,
    &:last-child {

      .page-link {
        border:none;
        &:hover {
          background: none;
        }
      }
    }
  }

  .page-link {
    color:#4D4D4D;
    border-radius: 50%;
    min-width: 42px;
    min-height: 42px;
  }
}
