#aside  {
  @include media-breakpoint-only(xs) {
    margin-top: 30px;
  }

  @include media-breakpoint-up(xs) {
    @include make-col-ready(0);
    @include make-col(12);
  }

  @include media-breakpoint-up(sm) {
    @include make-col-ready(0);
    @include make-col(5);
  }

  @include media-breakpoint-up(md) {
    @include make-col-ready(0);
    @include make-col(5);
  }

  @include media-breakpoint-up(lg) {
    @include make-col-ready(0);
    @include make-col(4);
  }

  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &.sticky {
    position: sticky;
    top: 0;
    bottom: 0;
  }
}

.sidebar {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: $box-shadow;

  @include media-breakpoint-only(lg) {
    max-height: 700px;
  }

  & + .sidebar {
    margin-top: 50px;
  }

  &-title {
    margin-top: 0;

    @include media-breakpoint-up(xs) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @include media-breakpoint-up(sm) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .nav-item {
    @include font-size(20px);
    font-family: 'Gotham Book';
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;

    &:hover,
    &.active {
      background-color: rgba(0, 173, 177, .2);

    }

    .nav-link {
      margin-left: 50px;
      margin-right: 10px;
      margin-top: 10px;

      &::before {
        content: '';
        position: absolute;
        left: 20px;
        top: 5px;
        width: 50px;
        height: 50px;
        background: url('#{$path-img}/categories.png') no-repeat 0 0 transparent;
      }
    }
  }
}
