table {
  border: $table-border-width solid $table-border-color;
  overflow: hidden;
  border-collapse: separate;
  border-radius: 15px;
  border-spacing: 0;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: 2 * $table-border-width;
    }
  }
}
