$path-img: '../images';
$preto: #212529;
$primary: #00ADB1;
$box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
// $grid-gutter-width: 30px;
// bootstrap overides
$enable-responsive-font-sizes:    true;
$breadcrumb-divider: quote(">");
$theme-colors: (
  "preto": $preto
);
$font-size-base:                  1rem !default;
$font-family:                     'Gotham Medium';

$body-bg:                    #E8E8E8;
$table-border-color:         #D4D4D4;
$table-color:                #707070;
$paragraph-margin-bottom:      3rem;

$input-color: $primary;
$input-border-color: $primary;
$input-focus-border-color: rgba($primary, .50);
$input-placeholder-color: rgba($primary, .50);

$nav-tabs-link-active-color:        #fff !default;
$nav-tabs-link-active-bg:           $primary;
$nav-tabs-link-active-border-color: $primary;
$nav-tabs-border-color: $primary;
$nav-tabs-border-width: 5px;
$nav-tabs-border-radius: 10px;
// $nav-pills-border-radius:           $border-radius !default;
// $nav-pills-link-active-color:       $component-active-color !default;
// $nav-pills-link-active-bg:          $component-active-bg !default;
