<%
const config = {
  'title': 'Diálogos Democráticos - Justiça Eleitoral',
  'path': 'dialogos-democraticos',
  'fonts': [
    'shared/fonts/source-sans-pro.css',
    'shared/fonts/gotham.css',
  ],
  'styles': [
    'shared/bootstrap.css',
    'shared/font-awesome.css',
    'shared/style.css',
    'dialogos-democraticos.css'
  ],
  'scripts': [
    'shared/jquery-3.4.1.min.js',
    'shared/bootstrap.min.js',
  ],
};
%>
<%- include('../../templates/shared/header', { config })%>
<%- include('../../templates/shared/menu', { config }); -%>
<main id="dialogos">
   <header class="topo-dialogos">
      <div class="container">
         <div class="row">
            <div class="titulo-topo">
               <div class="row">
                  <div class="col-lg-2 col-3 icone-top"><img src="/assets/images/dialogos-democraticos/icones/icon-dialogos.jpg" />
                  </div>
                  <div class="col-lg-8 col-9">
                     <h1>Diálogos <br> <span class="fonte-maior">Democráticos</span></h1>
                  </div>
                  <div class="col-lg-2 col-12">
                     <div class="seu-voto-tem-poder">
                        <img src="/assets/images/dialogos-democraticos/seu-voto-tem-poder.png" alt="#seuvototempoder">
                     </div>
                  </div>
               </div>
            </div>
         </div>
   </header>
   <!-- ORIENTAÇÕES 1 -->
   <section class="container">
   <div class="lista-dialogos">
   <p>A série <span class="destaque-letra">Diálogos Democráticos</span> promove debates virtuais com figuras públicas sobre os temas mais
   relevantes para as Eleições 2020. Com a realização de cada edição, o Tribunal Superior Eleitoral
   <span class="destaque-letra">promove reflexões fundamentais</span> junto ao eleitorado sobre os desafios que ainda precisam ser vencidos
   na democracia brasileira. Todos os encontros são mediados pelo presidente do TSE, ministro Luís
   Roberto Barroso.<span class="destaque-letra2"> Dê o play para conferir!</span></p>
   </div>
   </section>
   <section class="container-fluid faixa-amarela">
   <div class="container">
   <div class="videos-dialogos">
   <div class="row">
   <div class="col-lg-4">
   <div class="card">
   <a data-fancybox href="https://www.youtube.com/watch?v=zBek718CM2U&t=22s">
   <span class="capa-video"><img class="card-img-top" src="http://img.youtube.com/vi/zBek718CM2U/0.jpg"
      alt="Card image cap">
   </span>
   </a>
   <div class="card-body">
   <h5 class="card-title">1ª live) Mais Mulheres na Política</h5>
   <p class="card-text">Com Camila Pitanga, Djamila Ribeiro e Simone Tebet</p>
   </div>
   </div>
   </div>
   <div class="col-lg-4">
   <div class="card">
   <a data-fancybox href="https://www.youtube.com/watch?v=ThswNO3KH5M&t=16s"><span class="capa-video"> <img class="card-img-top" src="http://img.youtube.com/vi/ThswNO3KH5M/0.jpg"
      alt="Card image cap"></a>
   </span>
   <div class="card-body">
   <h5 class="card-title">2ª live) Combate à desinformação</h5>
   <p class="card-text">Com Atila Iamarino, Cristina Tardáguila e Felipe Rigoni</p>
   </div>
   </div>
   </div>
   <div class="col-lg-4">
   <div class="card">
   <a data-fancybox href="https://www.youtube.com/watch?v=-Yug16cpukk&t=128s">
   <span class="capa-video">
   <img class="card-img-top" src="http://img.youtube.com/vi/-Yug16cpukk/0.jpg"
      alt="Card image cap"></a>
   </span>
   <div class="card-body">
   <h5 class="card-title">3ª live) Mais Jovens na Política</h5>
   <p class="card-text">Com Projota, Tabata Amaral e Luiz Felipe Pondé</p>
   </div>
   </div>
   </div>
   </div>
   <br/>
   <div class="row justify-content-md-center">
   <div class="col-lg-4">
   <div class="card">
   <a data-fancybox href="https://www.youtube.com/watch?v=yrHILJiUoAY&t=2169s">
   <span class="capa-video">
   <img class="card-img-top" src="http://img.youtube.com/vi/yrHILJiUoAY/0.jpg"
      alt="Card image cap"></a>
   </span>
   <div class="card-body">
   <h5 class="card-title">4ª live) Voto consciente</h5>
   <p class="card-text">Com Marina Silva, Marcelo Tas e Caio Coppolla </p>
   </div>
   </div>
   </div>
   <div class="col-lg-4">
   <div class="card">
   <a data-fancybox href="https://www.youtube.com/watch?v=8omdtRnB9fc&t=313s">
   <span class="capa-video"> <img class="card-img-top" src="http://img.youtube.com/vi/8omdtRnB9fc/0.jpg"
      alt="Card image cap"></a>
   </span>
   <div class="card-body">
   <h5 class="card-title">5ª live) Cuidados sanitários</h5>
   <p class="card-text">Com Marilia Santini, David Uip e Luís Fernando Aranha Camargo</p>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </section>
</main>
<%- include('../../templates/shared/footer', { config } );%>
