<%
const config = {
  'title': 'Parcerias digitais para as Eleições 2020 - Justiça Eleitoral',
  'path': 'parcerias-digitais-eleicoes',
  'fonts': [
    'shared/fonts/gotham.css',
  ],
  'styles': [
    'shared/bootstrap.css',
    'shared/font-awesome.css',
    'shared/style.css',
    'parcerias-digitais-eleicoes.css'
  ],
  'scripts': [
    'shared/jquery-3.4.1.min.js',
    'shared/bootstrap.min.js',
    'shared/popper.min.js',
    'parcerias-digitais-eleicoes/orientacoes.js',
  ],
};
%>
<%- include('../../templates/shared/header', { config })%>
<%- include('../../templates/shared/menu', { config }); -%>
<main id="orientacoes">
  <header class="topo-orientacoes">
    <div class="container">
      <div class="row align-items-center">
        <div class="titulo-topo col-12 col-md-9">
          <h1>
            <img
              class="img-fluid"
              src="/assets/images/parcerias-digitais-eleicoes/logoParceiros.png"
              alt="JE - Logo Parceiros "
            />
          </h1>
        </div>
        <div class="seu-voto-tem-poder col-12 col-md-3">
          <img
            src="/assets/images/parcerias-digitais-eleicoes/logoEleicoes2020.png"
            alt="#seuvototempoder"
          />
        </div>
      </div>
    </div>
  </header>

  <div class="descricao">
    <div class="container">
      <div class="col-12 col-md-8">
        <p class="mt-5 mb-5">
          Mais serviços e conteúdos sobre as Eleições Municipais 2020 e o
          voto com segurança no seu celular. Nas suas redes sociais e na sua
          ferramenta de busca! Conheça as parcerias que a Justiça Eleitoral
          construiu com as principais plataformas digitais do mundo para
          facilitar 1) a sua busca por informações oficiais e checadas e 2)
          o seu acesso a todos os conteúdos de utilidade pública para as
          Eleições 2020
        </p>
      </div>
    </div>
  </div>

  <!-- WHATSAPP 1 -->
  <h2 class="titulo-box titulo-box-1 aberto">
    WHATSAPP - COLETA DE DENÚNCIAS <br />
    E TIRA-DÚVIDAS
  </h2>
  <section class="box-orientacoes box-orientacoes-1 aberto">
    <div class="container pt-5 pb-5">
      <div class="row ">
        <div class="col-md-9">
          <p>
            O acordo com o Whatsapp prevê a criação de um formulário para
            denunciar contas suspeitas de realizar disparos em massa.
          </p>

          <p>
            Recebidas as denúncias, o WhatsApp conduzirá uma apuração
            interna para verificar se as contas indicadas violaram os termos
            de serviço e políticas do aplicativo sobre disparo em massa e os
            serviços de mensagens automáticas. As contas identificadas podem
            ser suspensas da rede social. O canal será desativado no dia 19
            de dezembro, com o fim do processo eleitoral deste ano.
          </p>
          <p>
            O TSE também colaborou para a criação de uma plataforma dentro
            do WhatsApp Business (Application Programming Interface - API),
            um Chatbot, para ajudar na circulação de dados corretos. A
            ferramenta foi desenvolvida gratuitamente pela empresa Infobip,
            sem custos para o tribunal.
          </p>

          <p>
            A intenção foi ajudar na comunicação direta com os eleitores.
            Basta salvar o número 61-9637-1078 na lista de contatos e
            iniciar conversa com o canal interativo, que disponibiliza as
            principais informações das eleições.
          </p>

          <p>
            Por fim, o WhatsApp permitirá que o TSE envie mensagens, para
            eleitores que se cadastrarem em todas as ferramentas do
            tribunal, sobre cuidados sanitários e para rebater informações
            falsas que circulem durante a campanha eleitoral. Trata-se da
            primeira parceria do tipo com um tribunal eleitoral ou órgão
            responsável pelas eleições no mundo.
          </p>

          <p>
            O WhatsApp também permitiu que o tribunal elaborasse stickers
            (figurinhas) sobre a temática eleitoral para uso pelos usuários
            da ferramenta. E durante o mês de setembro, ofereceu cursos
            on-line que capacitaram servidores e colaboradores do TSE e dos
            TREs sobre as medidas de combate à desinformação adotadas pela
            plataforma e aspectos práticos de como atuar e promover a
            comunicação sobre os processos eleitorais em seu âmbito.
          </p>
          <p>
            <a href="/assets/arquivos/parcerias-digitais-eleicoes/memorando_whatsapp.pdf" target="_blank"
              >Confira o memorando de entendimento entre o TSE e o
              <strong>WhatsApp</strong></a
            >
          </p>
        </div>
        <div class="col-md-2">
          <img
            class="img-fluid"
            src="/assets/images/parcerias-digitais-eleicoes/whats.png"
            alt="whatsapp"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- FACEBOOK -->
  <h2 class="titulo-box titulo-box-3">FACEBOOK - MEGAFONE</h2>
  <section class="box-orientacoes box-orientacoes-3">
    <div class="container pt-5 pb-5">
      <div class="row ">
        <div class="col-md-9">
          <!-- <p>A parceria com o Facebook prevê a disponibilização da ferramenta “Megafone” para divulgação, nos dias anteriores à eleição, de mensagens aos usuários brasileiros sobre as eleições de 2020, especialmente acerca da organização e
                        das medidas de segurança sanitária no dia da votação.</p>

                    <p>A empresa também disponibilizou um crédito de 95 mil dólares para o impulsionamento de conteúdos da Justiça Eleitoral até o fim da eleição. E durante o mês de setembro, ofereceu cursos on-line que capacitaram servidores e colaboradores
                        do TSE e dos TREs sobre as medidas de combate à desinformação adotadas pela plataforma e aspectos práticos de como atuar e promover a comunicação sobre os processos eleitorais em seu âmbito.
                    </p> -->
          <p>
            A parceria com o Facebook prevê a disponibilização da ferramenta
            “Megafone” para divulgação, nos dias anteriores à eleição, de
            mensagens aos usuários brasileiros sobre as eleições de 2020,
            especialmente acerca da organização e das medidas de segurança
            sanitária no dia da votação.
          </p>
          <p>
            Durante o mês de setembro, a empresa também ofereceu cursos
            on-line que capacitaram servidores e colaboradores do TSE e dos
            TREs sobre as medidas de combate à desinformação adotadas pela
            plataforma e aspectos práticos de como atuar e promover a
            comunicação sobre os processos eleitorais em seu âmbito.
          </p>
          <p>
            <a href="/assets/arquivos/parcerias-digitais-eleicoes/memorando_facebook.pdf" target="_blank"
              >Confira o memorando de entendimento entre o TSE e o
              <strong>Facebook</strong></a
            >
          </p>
        </div>
        <div class="col-md-2">
          <img
            class="img-fluid"
            src="/assets/images/parcerias-digitais-eleicoes/facebook.png"
            alt="facebook"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- INSTAGRAM -->
  <h2 class="titulo-box titulo-box-4">
    INSTAGRAM - MAIS MULHERES <br />
    NA POLÍTICA
  </h2>
  <section class="box-orientacoes box-orientacoes-4">
    <div class="container pt-5 pb-5">
      <div class="row ">
        <div class="col-md-9">
          <p>
            Os usuários também vão contar com stickers com a temática das
            eleições municipais.
          </p>

          <p>
            Além disso, a plataforma vai se aliar ao TSE para divulgação da
            campanha sobre mais mulheres na política, que o tribunal
            apresentará à sociedade em outubro. E durante o mês de setembro,
            ofereceu cursos on-line que capacitaram servidores e
            colaboradores do TSE e dos TREs sobre as medidas de combate à
            desinformação adotadas pela plataforma e aspectos práticos de
            como atuar e promover a comunicação sobre os processos
            eleitorais em seu âmbito.
          </p>
          <p>
            <a href="/assets/arquivos/parcerias-digitais-eleicoes/memorando_facebook.pdf" target="_blank"
              >Confira o memorando de entendimento entre o TSE e o
              <strong>Instagram</strong></a
            >
          </p>
        </div>
        <div class="col-md-2">
          <img
            class="img-fluid"
            src="/assets/images/parcerias-digitais-eleicoes/insta.png"
            alt="instagram"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- GOOGLE -->
  <h2 class="titulo-box titulo-box-2">
    GOOGLE - TUDO SOBRE AS ELEIÇÕES MUNICIPAIS DE 2020
  </h2>
  <section class="box-orientacoes box-orientacoes-2">
    <div class="container pt-5 pb-5">
      <div class="row ">
        <div class="col-md-9">
          <p>
            A parceria do TSE com as plataformas do Google tem o objetivo de
            viabilizar ao eleitorado o acesso ampliado à informação oficial
            e de utilidade pública para as Eleições 2020. Conteúdos e
            respostas às dúvidas frequentes sobre como tirar o título de
            eleitor, como votar em um ano de pandemia, além dos cuidados
            sanitários que devem ser adotados em favor de uma eleição
            segura, estarão disponíveis em painéis de informação na Busca do
            Google e terão destaque no topo dos resultados de pesquisa para
            termos relacionados às votações das eleições municipais.
          </p>

          <p>
            Além disso, o Google disponibilizou workshops e treinamento com
            o objetivo de qualificar os servidores do TSE e dos TREs sobre o
            funcionamento de suas plataformas e oferecer mais detalhes de
            como suas ferramentas podem auxiliar no processo de checagem de
            informações durante o período eleitoral.
          </p>

          <p>
            O combate à desinformação somado ao esforço de garantir acesso a
            conteúdos verídicos e relevantes para a população relacionados
            ao processo eleitoral também serão promovidos por meio da
            realização de uma série de webinars. Acompanhe pelos canais do
            <a
              href="https://www.youtube.com/user/googlebrasil" target="_blank"
              alt=" Youtube Google Brasil"
              >YouTube do Google Brasil</a
            >
            e da
            <a
              href="https://www.youtube.com/user/justicaeleitoral" target="_blank"
              alt="Youtube Justiça Eleitoral"
              >Justiça Eleitoral</a
            >.
          </p>
          <p>
            <a href="/assets/arquivos/parcerias-digitais-eleicoes/memorando_google.pdf" target="_blank"
              >Confira o memorando de entendimento entre o TSE e o
              <strong>Google</strong></a
            >
          </p>
        </div>
        <div class="col-md-2">
          <img
            class="img-fluid"
            src="/assets/images/parcerias-digitais-eleicoes/google.png"
            alt="instagram"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- TWITTER -->
  <h2 class="titulo-box titulo-box-5">
    TWITTER – INFORMAÇÕES OFICIAIS PARA BUSCAS
  </h2>
  <section class="box-orientacoes box-orientacoes-2">
    <div class="container pt-5 pb-5">
      <div class="row ">
        <div class="col-md-9">
          <p>
            Com o objetivo de promover conversas mais saudáveis e ampliar o
            acesso das pessoas a informações de qualidade durante o processo
            eleitoral, TSE e Twitter firmaram parceria para a criação de um
            recurso no campo de busca da plataforma. Sempre que for feita
            uma pesquisa por temas relacionados às eleições, o primeiro
            resultado da busca, apresentado no topo da lista, será uma
            notificação e o acesso a uma página do TSE com informações úteis
            sobre a organização das Eleições 2020, incluindo as medidas de
            segurança sanitária adotadas.
          </p>
          <p>
            O Twitter também vai apoiar a divulgação de serviços para o
            eleitor produzidos pela conta do TSE pelo perfil do
            @TwitterBrasil, além de vincular emojis a hashtags temáticas do
            período eleitoral. Um desses emojis será ativado com o uso da
            hashtag #Eleições2020, para estimular os mais diversos debates
            em torno do tema. O segundo é relacionado ao voto. Com a
            proposta de transmitir à população a força de sua escolha nas
            urnas, a mensagem #SeuVotoTemPoder destaca a importância da
            participação popular no processo eleitoral e é parte da campanha
            do TSE sobre o tema.
          </p>
          <p>
            O acordo entre a plataforma e o TSE também compreende sessões de
            treinamentos para as equipes de comunicação do Tribunal e dos
            TREs sobre as melhores práticas do Twitter para magistrados e
            servidores. O Twitter também dará apoio à transmissão de eventos
            ao vivo feitos pelo Tribunal Superior Eleitoral nos
            momentos-chave do período eleitoral, em especial as coletivas de
            imprensa concedidas pelo Presidente do TSE nos dias de votação.
          </p>
          <p>
            Além disso, o Twitter se comprometeu a agir diligentemente na
            análise das denúncias feitas pelo Tribunal Superior Eleitoral a
            respeito de possíveis violações das regras da plataforma,
            inclusive daquelas relacionadas à Política de Integridade Cívica
            do Twitter, que impede o uso dos serviços do Twitter para
            manipular ou interferir em eleições ou outros atos cívicos.
          </p>
          <p>
            <a href="/assets/arquivos/parcerias-digitais-eleicoes/memorando_twitter.pdf" target="_blank"
              >Confira o memorando de entendimento entre o TSE e o
              <strong>Twitter</strong></a
            >
          </p>
        </div>

        <div class="col-md-2">
          <img
            class="img-fluid"
            src="/assets/images/parcerias-digitais-eleicoes/twitter.png"
            alt="instagram"
          />
        </div>
      </div>
    </div>
  </section>

  <h2 class="titulo-box titulo-box-6">
    Conexis Brasil Digital – Zero rating para o portal da Justiça Eleitoral
  </h2>
  <section class="box-orientacoes box-orientacoes-2">
    <div class="container pt-5 pb-5">
      <div class="row ">
        <div class="col-md-9">
          <p>
            Representante oficial do setor de telecomunicações no Brasil, a
            Conexis Brasil Digital viabillizou o benefício do zero rating
            para o portal da Justiça Eleitoral, que concentra serviços e
            informações essenciais para o eleitorado brasileiro. A parceria
            com o Tribunal Superior Eleitoral promoveu um acordo, com todas
            as empresas associadas ao sindicato, para que o acesso a todos
            os conteúdos do site
            <a hef="https://www.justicaeleitoral.jus.br" target="_blank">www.justicaeleitoral.jus.br</a>
            por meio do celular não consuma o pacote de dados dos cidadãos,
            ou seja: sem nenhum tipo de cobrança para a navegação.
          </p>
          <p>
            Todos os clientes das operadoras Claro, Oi, TIM Brasil, VIVO e
            Algar Telecom podem usufruir do zero rating para o portal da
            Justiça Eleitoral até o fim de novembro de 2020. Com esse
            benefício, eleitoras e eleitores têm um motivo a mais para
            conferir informações oficiais sobre cuidados sanitários para o
            dia da votação, documentos aceitos nos dias de eleição, ordem da
            votação, checagem de notícias sobre o processo eleitoral e
            outras dúvidas frequentes que podem ser esclarecidas nesse site.
            Tudo em favor voto consciente e com segurança.
          </p>
          <p>
            <a href="/assets/arquivos/parcerias-digitais-eleicoes/memorando_sinditelebrasil.pdf" target="_blank"
              >Confira o memorando de entendimento entre o TSE e a
              <strong>Conexis Brasil Digital</strong></a
            >
          </p>
        </div>

        <div class="col-md-2">
          <img
            class="img-fluid"
            src="/assets/images/parcerias-digitais-eleicoes/conexis.png"
            alt="instagram"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- TIK TOK -->
  <h2 class="titulo-box titulo-box-7">Tik Tok – Combate à desinformação</h2>
  <section class="box-orientacoes box-orientacoes-2">
    <div class="container pt-5 pb-5">
      <div class="row ">
        <div class="col-md-9">
          <p>
            Por meio da parceria com o TSE, o Tik Tok criou uma página para
            centralizar informações confiáveis sobre as Eleições Municipais
            de 2020. Também forneceu capacitações à equipe de Comunicação do
            TSE sobre a melhor utilização da plataforma, dando todo o
            suporte necessário para a produção de vídeos na linguagem ideal
            para os usuários da rede.
          </p>
          <p>
            O Tik Tok também estabeleceu um canal direto com o Tribunal
            Superior Eleitoral para receber denúncias de divulgação de
            conteúdos que ofereçam risco à integridade das eleições. Esse
            canal está sendo utilizado por uma equipe restrita e respeita
            cláusulas de confidencialidade. Todas as iniciativas visam o
            combate à desinformação relacionado ao processo eleitoral.
          </p>
          <p>
            <a href="/assets/arquivos/parcerias-digitais-eleicoes/memorando_tiktok.pdf" target="_blank"
              >Confira o memorando de entendimento entre o TSE e o
              <strong>Tik Tok</strong></a
            >
          </p>
        </div>
        <div class="col-md-2">
          <img
            class="img-fluid"
            src="/assets/images/parcerias-digitais-eleicoes/tiktok.png"
            alt="instagram"
          />
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('../../templates/shared/footer', { config }); -%>
